[2015-07-09 13:02] eliorcohen opened #1 "scrolling up not loading the data"
Hi,

looking at the demo in chrome browser, when adding 1000, the scroll down work perfectly, but when scrolling up, the rows are not loaded and the view is empty..

[2015-07-09 18:21] martingust commented on #1
I'm not able to reproduce this, using Chrome v43.0.2. Is this happening on first load? Or when you first add/remove items or resize the container?

[2015-07-09 19:38] eliorcohen commented on #1
i have tried to reproduced it again with no success..

[2015-07-09 19:53] martingust commented on #1
ok, thanks for checking. I'll keep this open for a little bit if it crops up again.

[2015-07-16 00:48] rquast opened #2 "Missing virtual-list.html in dist"
virtual-list.html is missing when you create a dist. needs to be included for things to work.

I don't think you had this problem with your your virtual-list demo project because you musn't be using jspm for it or you have some other repository?

[2015-07-16 00:51] rquast opened #3 "jspm install name issue"
If you do a jspm install github:aurelia/ui-virtualization , the config will map aurelia/ui-virtualization and not aurelia-ui-virtualization. Currently need to manually go into config.js and fix. Should be mapping the name correctly (following the convention of other Aurelia modules).

[2015-07-16 09:06] #2 closed

[2015-07-16 09:06] #3 closed

[2015-07-16 09:09] martingust commented on #3
@rquast I created a PR to the JSPM registry to add aurelia-ui-virtualization: https://github.com/jspm/registry/pull/474.

Before this is merged you can jspm install be specifying the name: `jspm install aurelia-ui-virtualization=github:aurelia/ui-virtualization`

Also updated the readme file.

Thanks

[2015-07-16 09:11] martingust commented on #2
@rquast Should be included in the build now.

[2015-07-16 12:48] rquast commented on #2
Thanks! :)

[2015-07-16 12:48] rquast commented on #3
Great! Thank you.

[2015-07-17 05:11] EisenbergEffect commented on #1
I'm going to close this for now until we see the behavior happen again and can find a way to reproduce it.

[2015-07-17 05:11] #1 closed

[2015-07-19 20:15] martingust opened #4 "Not working in IE"
Template anchors are converted to comment anchors. Thus is the element injected into the `virtual-repeat` template controller a comment node which does not have parentElement in IE, instead parentNode should be used on this line: https://github.com/aurelia/ui-virtualization/blob/master/src/virtual-repeat.js#L31

[2015-07-19 20:16] #4 closed

[2015-07-29 20:01] paulvanbladel opened #5 "Can this library provide support for infinite scrolling ?"
A canonical example in an app is loading more data when the user reaches the bottom of the page.
Can the ui-virtualization lib provide this service?
thanks.

[2015-07-29 20:12] EisenbergEffect commented on #5
That is one of the use cases, but it hasn't been fully implemented yet.

[2015-08-26 07:02] heruan commented on #5
It would be very interesting to see it an action for infinite scrolling of tables and lists! :+1:

[2015-10-02 00:01] easyt opened #6 "Scrolling Using Mousewheel Click and Dragging the Scroll Indicator"
Will there be support for scrolling by clicking the mouse wheel or dragging the scroll indicator?

[2015-10-02 00:09] EisenbergEffect commented on #6
Yes, we would like to have full "native" interactions.

[2015-10-02 11:27] easyt commented on #6
Thanks, Rob.

[2015-10-02 11:27] #6 closed

[2015-10-07 22:00] weoreference opened #7 "Preserve scroll position"
Hello,

Suppose I use this feature with a really long list, and then in the middle of the list a user decides to navigate to another route.

Is there any way to preserve their position on the list when they go back??

Thanks,
Andy : )

[2015-10-13 19:12] LivesleyWA opened #8 "aurelia.globalizeResources issue when loading the module"
The following error message appears when loading the module

_Unhandled promise rejection TypeError: aurelia.globalizeResources is not a function(…)_

 Probably as  a result of Aurelia 0.15.0.

See http://stackoverflow.com/questions/32103562/error-when-loading-aurelia-validation-plugin

After update as proposed in the above, I receive a _Loader must implement loadTemplate_ message.

[2015-10-14 00:35] EisenbergEffect commented on #8
@martingust If you have some time, would be great to pick back up work on this library, updating it to the latest bits and seeing if any of the view cache stuff can simplify your implementation. I know there are lots of other features we would like to add, of course. Not sure what your availability is right now. Send me email when you get a chance.

[2015-10-15 11:14] martingust commented on #8
Fixed in https://github.com/aurelia/ui-virtualization/commit/0345226744ae2173455951148278e634e4da61c2

[2015-10-15 11:14] #8 closed

[2015-10-16 04:00] jedd-ahyoung opened #9 "Dist directory not up to date with source"
This plugin doesn't load, with the following error:
[code]

The code in the `src` directory is using the correct `globalResources` but the `dist` folder isn't up to date - it looks like the source wasn't built before this was pushed to Github.

[2015-10-16 04:02] jedd-ahyoung opened #10 "Add support for PageUp, PageDown, Home, and End keys"
The plugin supports scrolling by keyboard but does not capture non-arrow keypresses. Quick fix for this is as follows in `scrollHandler.js`:

[code]

[2015-10-19 23:53] rquast opened #11 "Please rebuild the dist after fixing breaking changes."
I can't get this to work with the latest Aurelia because the dist was last updated 3 months ago. If fixing a breaking change, could you please make it part of the workflow to also update the dist? Thanks! :)

Currently broken is aurelia.globalizeResources in index.js.

[2015-10-19 23:54] rquast commented on #9
Oops.. made a dupe issue for this one.

[2015-10-19 23:55] rquast commented on #11
Duplicate: https://github.com/aurelia/ui-virtualization/issues/9

[2015-10-19 23:55] #11 closed

[2015-10-20 00:02] rquast commented on #5
+1 - My most wanted feature in Aurelia at the moment.

[2015-10-20 00:19] EisenbergEffect commented on #11
We will get this into our standard release sequence soon. Hang in there!

[2015-10-20 00:55] rquast commented on #11
It's all good. I'll just fork things that need fixing for now until they're ready.

[2015-10-20 07:28] rquast opened #13 "Prevent parent elements from scrolling on custom element scroll."
The current implementation using requestAnimationFrame() => this.scroll() does not factor in the parent frame scrolling. Maybe use something like onmouseover / onmouseout on the custom element to disable parent scrolling? Will have a look at different ways.

[2015-10-20 08:12] rquast commented on #13
Found the bug in scroll-handler.js... mouseWheel(event) and wheel(event) don't have the following at the end:

event.preventDefault();
event.stopPropagation();
return false;

[2015-10-20 08:16] rquast opened #14 "Turn scroll indicator into a draggable bar."
I don't know what the default is for mobile apps, but a desktop app needs a scroll bar rather than the indicator div.

[2015-10-20 08:45] rquast commented on #10
Thanks, Jedd. That works for me.

I used the code in my fork plus I added a onmouseover="focus()" for the template so it gets the key events when a mouse is hovered over it, without having to click on it first.

For the key and page steps, maybe there's some way we can measure the rendered height of the custom element and use that instead of a magic number? That way page down will be a page, and n

[2015-10-20 12:09] jwahyoung commented on #10
@rquast Indeed. I actually mentioned this in the comments section of https://github.com/aurelia/ui-virtualization/pull/12. At first I thought the height would have to be passed to the scrollhandler `initialize` function, but it looks like the first argument to that is a DOM element, so it might actually be possible to grab the height from that and use that as the page length. Offhand, I'm not sure

[2015-10-20 12:09] jedd-ahyoung commented on #10
https://github.com/jedd-ahyoung

[2015-10-20 12:53] rquast opened #15 "Can't have more than one virtualization per view."
Looks like there's some kind of issue with having more than a single list/repeat per view. The second list rendered works, but the first one doesn't.

[2015-10-20 12:56] rquast commented on #5
I have a hunch this won't be too hard to implement. I'll give this and the scroll position issue a go in my fork.

[2015-10-20 13:05] rquast commented on #14
I was looking at gitter's scrollbar and they use webkit scrollbars: https://css-tricks.com/examples/WebKitScrollbars/

Would this be a better solution?

[2015-10-20 13:27] rquast commented on #15
It looks like it's a problem with virtual-list and not virtual-repeat. The replaceable part name "item-template" needs to be unique?

[2015-10-20 13:52] rquast commented on #15
Found the bug.. ScrollHandler was a singleton and should be transient.

import {transient} from 'aurelia-framework';

@transient()
export class ScrollHandler{

[2015-10-20 21:47] jwahyoung commented on #13
While this works well (and actually fixes some issues with small lists), it may be better to attempt to handle this as a native element would - if the element cannot scroll any farther, the event would then propagate to parent elements.

[2015-10-20 21:50] rquast commented on #13
Good point!

[2015-10-20 22:30] rquast commented on #13
[code]

??

[2015-10-20 23:25] jedd-ahyoung opened #16 "Accessibility - provide WAI-ARIA properties for list elements"
Accessibility for a virtual list could be lacking. ARIA provides a way to mitigate this; even if it may not be supported by accessibility user agents, it's worth having and doesn't break anything else.

See http://www.w3.org/TR/wai-aria/states_and_properties#aria-setsize - by defining setSize and posInset, an accessibility user agent can know how large the list is despite the entire representation

[2015-10-21 01:11] rquast commented on #10
virtual-repeat contains an updated scroll container height. I've passed it in, but I think I need to work on the delta (it doesn't do a full page down even though it sends container height).

https://github.com/rquast/ui-virtualization/commit/92b5e2d51067c6b88e4bc446777137d38abd37af

[2015-10-21 03:00] rquast commented on #5
Added infinite scroll support to my fork: https://github.com/rquast/ui-virtualization/commit/5ab12e084ee17c3faaa8dc43dab6ad316f5b335c

Just implement either loadTop() or loadBottom() in your view model/custom element like this...

loadBottom() {
  this.bindingContext.$parent.addItems(100); // this is based on the phone-list.js example
}

Also use splice rather than push for modifying arrays (I don

[2015-10-22 01:29] jedd-ahyoung opened #17 "Add demo project to plugin"
This plugin was difficult to test as the distribution was broken. Adding a demo project to the plugin itself can ensure that everything is working and provide an embedded test case.

A demo project could be added easily using the methodology defined in the charlespockert/plugin-skeleton.

[2015-10-23 17:56] jedd-ahyoung commented on #10
Roland:

Just touching base. I was supposed to get in contact with you on Thursday
via Skype - I unfortunately had something come up which forced me to alter
that plan. However, I'm still interested in seeing your spec and providing
an estimate for you.

If you're still interested, let me know. I haven't been as active on Gitter
lately as I was before, but I can be reached through Gitter (it'll no

[2015-10-23 19:53] martingust commented on #14
I think that is a good idea. It could detect device and based on display different scrollbars.

[2015-10-23 19:56] martingust commented on #7
Good point, that's is definitely something that should be handled.

[2015-10-23 20:09] martingust commented on #10
@rquast @jedd-ahyoung Wow I'm glad to see the activity and work you guys putting into the plugin. Will go over the PRs soon, thanks!

[2015-10-23 20:52] #17 closed

[2015-10-23 21:05] jwahyoung commented on #14
Note that the webkit scrollbar is actually a native scrollbar - so as far as I know (from the limited research I did) we wouldn't be able to control the height and scroll position of the element. Gitter does use this, but they don't have a true virtual scroll - they append to their chat list when the scroll hits the bottom or top (meaning that the scrollbar jumps).

We may be able to emulate a scr

[2015-10-23 21:10] martingust opened #19 "Implement view caching"
Take advantage of the view caching mechanism in similar manner as repeat. Also see if the repeat's methods for handling binding context could be used.

[2015-10-23 21:23] martingust commented on #14
@jedd-ahyoung Correct. We can't use a native scrollbar. Maybe do something similar to the scrollbar on OS X which is just an mobile like indicator and on mouseover turn it to a more draggable friendly style and handle dragging.

[2015-10-23 21:40] martingust commented on #9
Fixed by @jedd-ahyoung PR.

[2015-10-23 21:40] #9 closed

[2015-10-23 22:23] EisenbergEffect commented on #14
We might want to get @joelcoxokc involved in this too. He's working on Aurelia interface and may have some feedback on how to handle emulating the scroll bars.

[2015-10-23 23:29] rquast commented on #14
@martingust @EisenbergEffect What about just making the scrollbar a pluggable component? This way we're not relying on someone else's implementation. I would imagine this project would get forked a few times if it wasn't extendible... same could be said for any component that has sub-components.

@jedd-ahyoung I'd very much like to see any component implement WAI-ARIA properly. Even some kind of v

[2015-10-24 00:21] jwahyoung commented on #14
@rquast I'd definitely like to push for accessbility in Aurelia. I don't want to derail this thread, but I've been doing some tests with Voiceover and it seems that there are some issues with everything being so dynamic. That said, I've been planning to add some more accessibility issues for this plugin.

[2015-10-24 00:34] jedd-ahyoung opened #20 "Accessibility - with a screen reader, items not in the DOM are inaccessible"
With a mouse or keyboard, it's possible to scroll the list element to reveal more virtual items - previous, or next. Testing with Voiceover in Safari (OSX 10.10) with the demo application, someone using a screen reader cannot access elements in the list that are not in the DOM.

I believe that a fix for this could be to add a hidden element at the beginning and end of the DOM list (of the same typ

[2015-10-24 01:18] rquast commented on #14
Here's a non-native scrollbar example I found which looks pretty similar to what exists already in the code. https://codemirror.net/demo/simplescrollbars.html .. they just use mousedown, mousemove and mouseup events on the scroll div element. I think it would be pretty simple to make the existing scroll do the same thing by adding those extra events to the scrollhandler. https://codemirror.net/add

[2015-10-25 11:44] #10 closed

[2015-11-03 01:57] rquast opened #21 "Dimensions for scroll, etc calculated once on attached(). Needs to be dynamic."
itemHeight, virtualScrollHeight, etc are all calculated from the size of the scroll view when attached() is called in virtual-repeat.js. There are a few problems with this:
1. It doesn't resize.
2. If the element is hidden (display none), then this.virtualScrollHeight remains as -2.

Needs to be a hook for resize and display to recalculate these values.

[2015-11-06 06:00] martingust commented on #21
@rquast Agree. Ultimately if it could dynamically calculate the itemHeight while scrolling to allow for different item heights throughout the list.

[2015-11-12 13:59] reinholdk opened #22 "access to parent binding context not working"
Hi,

looks like virtual repeat no longer supports access to $parent.
Probably needs to be adapted to the new overrideContext concept in pre beta release.

Regards
-- Reinhold

[2015-11-12 15:27] martingust commented on #22
Will take a look at this before beta release next week.

[2015-11-17 19:01] martingust commented on #22
Thanks, fixed in https://github.com/aurelia/ui-virtualization/commit/0e0f3e65529d455544f820e96e940bf084c8ce84

[2015-11-17 19:01] #22 closed

[2015-11-19 15:43] AStoker opened #23 "Can't scroll in Safari (Demo Site)"
Opened up the Demo site to ensure it would work for our needs in Safari, but I cannot scroll the list.
I am unable to use the scroll indicator to drag (looks like a custom one), and there are no errors in the console either.

[2015-11-22 17:44] jacobg opened #24 "Please support variable item height"

[2015-11-25 13:55] martingust commented on #23
@AStoker In Safari 9 on OS X El Capitan I'm not able to scroll with the touchpad. Mouse wheel and key up/down is working. Is this what you are experiencing as well?

That is right, the scroll indicator is a custom one. Since the list is virtual, and the scroll height does not represent the list height, a native scrollbar can't be used. However we have plans for making the scroll indicator draggabl

[2015-11-25 13:59] martingust commented on #24
@jacobg This is something that we would like to support, not sure how it can be done just yet. The tricky part is to handle that without decreasing the performance too much. This plugin is under development and some big refactoring is planned so it will probably not happen before we beta release this. If you have any ideas please let me know.

[2015-11-25 14:14] jacobg commented on #24
Thanks @martingust. I guess if it's a non-default option, then it's up to the developer whether to accept any performance or scroll-quirkiness issues.

Ext JS (Sencha Touch) has an implementation for this in their List:
http://docs.sencha.com/extjs/6.0/6.0.1-modern/#!/api/Ext.dataview.List
Look for "variableHeights" in the source code.

I'm not totally familiar with their implementation, but I thi

[2015-11-25 15:21] AStoker commented on #23
I'm on the same setup. However I'm using the mouse (the magic mouse that is).
Is it not possible to make the the scrollable list nested inside of a div, and have the outside div have the native scroll bar? For example, something real basic:

[code]

[code]

You could then as you scroll through the list of items, determine the height of the element you're popping off and add that height to the `<li

[2015-11-25 15:23] AStoker commented on #24
Ideas for how to get dynamic height mentioned here: https://github.com/aurelia/ui-virtualization/issues/23#issuecomment-159638970. Thoughts?

[2015-11-26 12:13] martingust commented on #23
That is acctually one of the approches I started out with. Except was only using the `scroll-bottom-buffer`, but I was running in to some problems that I wish I could remember exactly what that was. Maybe I just didn't give it enough time. I think it's worth investigating again. Another drawback could be the browsers maximum height that will limit **really** long lists. Probably a pretty rare case

[2015-11-26 12:16] martingust commented on #14
More discussion on this https://github.com/aurelia/ui-virtualization/issues/23

[2015-11-27 18:51] stoffeastrom commented on #23
@martingust As discussed. I think the best way is to have a `virtual-scrollbar` api to handle very large lists. The `native` scrollbar becomes unstable and as you said there is an max height on a `DOMElement` which is different in basically all browsers. So it's all about what kind of requirements you have. What platforms you must support and which input methods you want to support. What I mean wi

[2015-11-28 11:36] martingust commented on #23
After giving this some more thought I also think keeping `virtual-scrollbar` is the way going forward, that will give the plugin maximum flexibility and performance. It would be unfortunate to not support very long lists. And the gain of native scrollbar wouldn't be much if the plugin would expose a scrollbar api (like @stoffeastrom mentions), providing different implementations per platform and f

[2015-11-28 23:05] #19 closed

[2015-11-28 23:12] #15 closed

[2015-11-30 13:50] AStoker commented on #23
Sorry, was away for thanksgiving, so I couldn't contribute to the discussion.
In regards to max height, if you go with the nested approach I mentioned, then you don't have max height issues. Our company has created a tree control which uses the method I mentioned, and we're dealing with the thousands of elements (edge cases of much more), and it handles perfectly. So performance wouldn't suffer in

[2015-12-01 11:49] martingust commented on #23
@AStoker If I understand the nested approach you mentioned you add height to the buffer as you scroll through the list and at some point in a very long list the buffer element will be too tall for the browser to handle and the scrolling would break down. Or did I misunderstand your approach?

Here is an example with [react virtual list](http://developerdizzle.github.io/react-virtual-list/) if I ch

[2015-12-01 14:38] AStoker commented on #23
Thanks for that example @martingust, that definitely changes my opinion in this case. You could still take this approach, but modify it a bit so that your scroll element's height reaches a max height, and you actually use Javascript to manage the heights instead of relying on the elements themselves. This approach would have to kick in at a height where the scroll bar reaches it's smallest size (a

[2015-12-01 15:05] martingust commented on #23
@AStoker It would be awesome if you wanted do a native scroll implementation. And then we can see what parts can be re-used or replaced. I'm making some big refactorings right now, please feel free to hit me up on Gitter so we can align.

[2015-12-01 20:37] AStoker commented on #23
Sounds good. I'll try to get to it in the next few weeks (hopefully your big refactors will be implemented by then). Got some big deadlines coming up at work, and the need for a virtual list is on a less prioritized project.
Also, in relation to the initial bug report, I guess I'll try scrolling again after the next big release.

[2015-12-04 19:55] jods4 commented on #24
I have tinkered with such things in the past so here are some options from my experiences.

The culprit is that you can't easily have pixel-based scrolling with virtualized lists of variable-height items because you would need to know the total height of the list, which means laying out the whole list, which is what you want to avoid.

**Option 1: item-based scrolling**. Rather than scrolling smoo

[2015-12-05 14:51] kdawg1406 opened #25 "Page Up, Page Down, and Scrollbar dont' work"
Hi,

I ran the demo, bu the Page Up, Page Down, and Scrollbar do not work.  Are these features on the roadmap?

Very nice work, thank you,

Karl

[2015-12-06 19:20] martingust commented on #24
@jods4 I like option 2, for list with just slight different heights I think this is a very valuable ability and also with the option to turn off the scrollbar completely. Option 1 might be a good option for desktop, but maybe not very smooth on touch devices. Right now the plugin is undergoing some big refactoring to align it with the stock repeater, after that this should definitely be looked at.

[2015-12-06 19:21] martingust commented on #25
@kdawg1406 Definitely on the roadmap. Thanks for reporting.

[2015-12-27 17:22] vegarringdal commented on #23
Hi
Does it really matter if some browsers will only be able to show 8000 rows if performance is a lot better?
Little chance any users will scroll and look at each row, they will start to filter it down before any scrolling starts.
First 1000 and last 1000 needs to be correct. Thats the only one they might look at :)

I played around with this while trying to learn more html/javascript:
https://git

[2015-12-28 11:55] martingust commented on #23
@vegarringdal In most cases not. But there are definitely use cases where the requirements are to display 8000 rows or more. It would be great to be able to support these use cases and without a performance degradation, I think we can.

We are experimenting with @AStoker:s approach in this branch: https://github.com/aurelia/ui-virtualization/tree/native-scrolling

If it turns out good it will get

[2016-01-15 16:21] samlin99 opened #26 "can we replace with third party scroller like iscroll"
Hi there,

Is it any plan to use other scroller plugin like iscroll instead of default scrolling feature?

Thanks,
Sam

[2016-01-15 21:02] martingust commented on #26
Hi Sam,

No plans for that at the moment. Right now we are experimenting with an implementation leveraging the browsers native scroll in this branch https://github.com/aurelia/ui-virtualization/tree/native-scrolling. Would love to get your feedback on that. Maybe both aproaches could be supported later on.

[2016-01-27 23:08] samlin99 commented on #26
@martingust
Per my previous request, that I will need similar touch scrolling behavior in mouse environment. Your master code which is easier for me to fix. here is my commits (https://github.com/samlin99/ui-virtualization/commits/master). Do you think that will be something we can add into branch code to have this flexibility?

[2016-01-28 11:18] martingust commented on #26
@samlin99 Do you want to have momentum scroll when scrolling with the mouse wheel? In the `native-scrolling` branch the `ScrollHandler` class will go away, and the browser will handle all scrolling. Should make the maintenance a lot easier and will give users the expected experience across browsers, platforms and scroll inputs.

Feel free to pull down the branch and start the sample app with `gulp

[2016-01-31 15:26] #14 closed

[2016-01-31 15:36] martingust opened #28 "Scrolling is weird in Chrome on iOS"
In Chrome on iOS (8.0.2) the scrolling is acting weird when scrolling fast. The move/rebind phase does not keep up and the buffer elements gets scrolled into the view port.

[2016-01-31 15:39] martingust commented on #23
Fixed in https://github.com/aurelia/ui-virtualization/commit/dc486a9ee43d7f7e4893f688d8be2b56b5910b4c

[2016-01-31 15:39] #23 closed

[2016-01-31 15:39] martingust commented on #25
Fixed in https://github.com/aurelia/ui-virtualization/commit/dc486a9ee43d7f7e4893f688d8be2b56b5910b4c

[2016-01-31 15:39] #25 closed

[2016-01-31 15:41] martingust commented on #26
Closing this since there are currently no plans to integrate this with `iscroll`.

[2016-01-31 15:41] #26 closed

[2016-02-12 02:29] YipYipX4 opened #29 "Support Inline UI Virtualization (No Need for Fixed-Height on Container)"
Hi,

If you already know a fixed height for your items, and you also know how many items that you have, then it is possible to virtualize the UI without requiring the end developer to put a fixed height on the container.  You can have the plug-in set the total height of the container based on itemHeight * itemCount, and then you can rely on the main scroll bar of the page to scroll through your gi

[2016-02-12 21:19] martingust commented on #29
@YipYipX4 I have been thinking about this as well, this is definitely something we want to look into and would love to support. Thanks for the ideas!

[2016-02-13 06:02] jwahyoung commented on #29
A quick note - awesome idea, but if we implement this we'll need to think about accessibility (for people who either don't use a mouse, or don't scroll at all - such as people with screen readers and such).

[2016-02-13 13:32] YipYipX4 commented on #29
@jedd-ahyoung Yes, I agree that accessibility is a concern, but I think that is true for any virtual or dynamic UI whether it is inline or not, right?  I usually like to avoid having more than one scrollbar.  The demo avoids this by fitting the virtualized container into the main viewport, eliminating the main scrollbar, but sometimes we may want to put a virtualized repeater in an already scrolla

[2016-02-13 20:42] vegarringdal opened #30 "Questions about scrolling."
Hi again :-)

See you have added native scrolling.
Have you overcome the issues virtual scrolling can get with browser div maximum height?
Usually it will never be a issue for 99.99% of all grids/scrollers since user dont need to see that much data/scroll it.
Just wanted to know because I wanted to add it to my hobby grid project here:
https://github.com/vegarringdal/simpleGrid.
Plan was to try an

[2016-02-13 21:41] martingust commented on #30
@vegarringdal Not yet. It is on the list of improvements. Right now working on getting array mutations right.

[2016-02-13 21:42] jwahyoung commented on #29
Currently, the ui-virtualization plugin should work within any container -
and it should support multiple containers at the same time. (There was a
pull request for this a while back, I believe.) What you're proposing seems
more like an optimization at this point. A very good one, no doubt.

From what I can tell, the current behavior will remove elements if they are
scrolled beyond the current vie

[2016-02-13 21:43] martingust commented on #30
Hope you don't mind I changed the title, want to keep this issue for future reference.

[2016-02-13 22:46] vegarringdal commented on #30
No problem :-)
Maybe wrong place to ask now, with the new title and all, so feel free to delete this post if you feel its on the wrong place
But how is grid getting data from a server?
Will there be a function that gets called so developer know what row the list want data for as user scrolls, something with param for row, and scroll direction?
Thinking how developer controls getting say each 40 an

[2016-02-13 23:12] vegarringdal opened #31 "Suggestion for demo"
When I add 10 000 rows 5 times then it would have been nicer if the id was 1-50 000, not 0 to 10 000 5 times.
Also a counter on how many rows the list have would also be nice.

**Other:**
Did not want to start new thread since its beta and do not know if its updated to latest source, but incase they are unknown Ill write them down.
So feel free to remove this if you want.

Here is what I noticed w

[2016-02-14 01:33] YipYipX4 commented on #29
It is not just about removing elements from containers that are off-screen.  That would simply be a small optimization.  This is about not requiring a fixed height on the container.  My understanding is that if you don't specify a fixed height on your container, then all elements will be rendered, effectively disabling UI virtualization (in that case, the solution I'm relaying would be a very sign

[2016-02-14 04:53] jwahyoung commented on #29
Oh, wow! I see, and I am incredibly impressed. If this solution can also
work inside of a fixed-height container (with overflow auto or something)
then I'm all in. In fact, I have a personal application that could
definitely benefit from this type of behavior. Thank you for clarifying -
the demo made all the difference.

2016-02-13 20:33 GMT-05:00 YipYipX4 notifications@github.com:

[2016-02-15 21:23] martingust commented on #31
Will fix those demo issue with next update. The plugin is actually only in alpha, the plan is to build a more sophisticated demo for beta/v1 release, current is more of a dev/testing sample.

[2016-02-15 21:43] martingust commented on #31
As for the other issues:
- What browser you in? I just tested with 200k items, it loaded in 4 sec and I could drag the scrollbar pretty quickly through all of the items, this is in Chrome on Mac Book Pro.
- Toggle visibility should be fixed in master.
- I can replicate the last two bullets, they are related. I see where the issue is, will look into a way to fix that.

Thanks!

[2016-02-15 23:14] Wyzix33 commented on #5
Hi, this would be a very useful feature (virtual-scroll), looking forward to it :) it would be nice to be able to use different heights for rows and be able to see full scroll height from the beginning, and also to be able to load all data into a object for faster rendering instead of many requests based on scroll height (optional). Thank you for your work!

[2016-02-15 23:52] Wyzix33 commented on #29
Hi, here is another approach, maybe it can help you, it works with variable row height, there is still a browser limit to container height, but it's not that important

https://rawgit.com/Polymer/labs/master/list/virtual-scroll-examples.html

set the item complexity to complex and hit reset, try it on, it has a few options
virtualList.pageSize = 10;
virtualList.numPages = 2;
virtualList.numInitial

[2016-02-16 10:45] vegarringdal commented on #31
I tested just now again in chrome, windows 64,
Click 20 times on add 10 000 button, then started dragging scrollbar from top to bottom, then back again, and it is kinda laggy.
But do you really wanto try and render that kinda dragging at all, why not stop rendering for about 200 ms after user stops that kind of scrolling.
if you are getting data from serverside and list contains 1 million rows it

[2016-02-18 00:18] vegarringdal commented on #31
I tried again, feels laggy when there is a lot, when I drag up and down the scroll bar
But again, this isnt what a person usually does, so maybe it does not really mater.
Tell me when you have updated code for demo and I can help you test for bugs if you want.
Would have been great if there was a button for adding 100 000 rows too :-)

[2016-02-18 07:04] martingust commented on #31
@vegarringdal Definitely think that is a common thing to do, where the experience should be as good as possible. Would you mind creating a separate issue for that.

[2016-02-18 14:21] hmarcelodn opened #32 "Installation Issue"
Hi guys,

I have my application running. So as soon as I installed that plugin the with JSPM I see an error:

TypeError: Aurelia is not a function
    at http://localhost:9000/jspm_packages/npm/aurelia-bootstrapper@1.0.0-beta.1.0.1/aurelia-bootstrapper.js:96:21
    at h (http://localhost:9000/jspm_packages/npm/core-js@1.2.6/client/shim.min.js:1773:66)
    at http://localhost:9000/jspm_packages/npm

[2016-02-18 17:07] vegarringdal opened #33 "Large list 200k+ is lags when dragging up and down and up and down fast."
Large list 200k+ is lags when dragging up and down and up and down fast.

Click 20 times on add "10 000" button, and give it a while to finish.
Drag scrollbar tumb/handle up and down and up and down and you will se that it lags.

One solution could be to not update view when scrolling like that, and update it after user stops.
Grid should at least not try and request any data from server automatic

[2016-02-18 17:08] vegarringdal commented on #31
Yep
Here:
https://github.com/aurelia/ui-virtualization/issues/33

[2016-02-18 19:14] martingust commented on #32
Do you have any forks? `jspm inspect --forks`

[2016-02-19 10:35] martingust commented on #28
Looks like there is an issue with `-webkit-overflow-scrolling: touch;` on iOS8+, iPad and Chrome. If `-webkit-overflow-scrolling: touch;` is removed scrolling is working though no momentum. Will need to look more into finding a possible workaround. More info http://stackoverflow.com/questions/26738764/ios8-safari-webkit-overflow-scrolling-touch-issue?lq=1

[2016-02-19 10:39] martingust commented on #31
@vegarringdal  Please feel free sending PR with enhancements and bug fixes for the sample app in the project. That would be very helpful.

[2016-02-19 10:47] martingust commented on #29
I think this can be achived by adding a new viewStrategy that uses window as container, the viewStrategy interface might need some modifications to calculate the position of the list and probably something else too. Will look into this next after getting the change handeling right and probably also infinite scroll support.

[2016-02-19 14:54] vegarringdal commented on #31
I will try, but need to learn Aurelia better.
Ill start and see if I manage to make a better demo for my grid that I want to make into a plugin in the end, just need to add drag-drop headers, re-size headers and click on headers to sort.
Then I'll might get a few ideas and learn from some mistakes first. :smile:

On the bright side, Aurelia is so fun to use and learn, that I might be able to make

[2016-02-19 14:54] #31 closed

[2016-02-28 12:34] martingust opened #34 "Add unit tests"

[2016-03-04 09:21] PieterSmit opened #37 "Infinite pannable workspace"
We are building a diagram workspace and looking for an infinite pannable and zoomable workspace that contains custom elements. (We cannot use canvas, elements can be moved and sized)
Would an extension on this project be a good tool?

[2016-03-04 12:27] martingust commented on #37
Do you have any example to show how it is supposed to work? One contraint on the `virtual-repeat` is that each row needs to be equaly tall. We are going to look into a way to allow dynamics height but not there yet.

[2016-03-08 20:55] martingust commented on #32
@hmarcelodn Do you still have installation issues? Please try the latest release.

[2016-03-13 01:01] vegarringdal commented on #33
Hi
This is what I was trying explain when dragging up and down:
Open page, and click 10-20 times on add 10000 button. (then giv it a few sec while it loads, some bad coding here, not very async)
If you drag up and down it the scrollbar tumb it will stay smooth nomather how many becouse if scroll is very large it does not update view
Sample:
http://vegarringdal.github.io/aureliaGrid/

[2016-03-13 06:29] martingust commented on #33
Thanks for the example. I think this need all depends on the requirements. The scrolling is completely smooth when dragging the scrollbar but at the same time the list is completely blank and you might have hard time to know where in the list you are. Same is for momentum scroll, on touchpad or mobile device, the list goes blank which I think should be avoided for as long as possible. Perhaps it c

[2016-03-13 07:48] vegarringdal commented on #33
"only when dragging scrolbar" would be best. (but how can you know this during scrolling)?
One thing could be to have something in footer/toast or something showing you what range you are at, like "1000-2000" then it switch to "2000-3000" etc.

Btw, I havent tested my grid much on on touchpad/mobile devices/safari , so I prb have room for improvments in my grid here, was made for desktop, thats wh

[2016-03-13 11:09] martingust commented on #33
Not sure if displaying the list index you are at will help that much, that will only give you an idea of how much you have scrolled, which you can probably get from looking at the scrollbar itself. Often (I think) the user want to be able to look at the data in the list to be able to quickly scroll to the right position, like when scrolling through an alphabetical ordered list.

This was Chrome on

[2016-03-13 18:33] vegarringdal commented on #33
When I think about it people usually do more filters if they have a list more than a 1000 :-)
But I  agree its very usefull to see while you scroll and it not going blank, Ill try and implement that into mine as a option too, had bad experience with that and IE09 before, but my code was even a more mess last time I tried it :-)

Added the row/index part here, isnt the most usefull information, heh

[2016-03-15 05:31] martingust commented on #29
@YipYipX4 Work on this started over here https://github.com/aurelia/ui-virtualization/pull/38

[2016-03-23 14:29] finprod opened #39 "_viewLength = Inifinity resulting in endless loop"
Hi,

I combined virtual list with search functionality, so I frequently update the array to which the virtual list is bound.

When I set my list to empty array and subsequently fill the array with data, the field itemHeight (virtual-repeat.js, line 356) is not calculated correctly - it is set to 0.

As a consequence, _viewLength is Infinity, and you seem to loop over this field... So I get an (alm

[2016-03-25 22:04] #39 closed

[2016-03-25 22:05] martingust commented on #29
This is now implemented in master.

[2016-03-25 22:05] #29 closed

[2016-03-29 20:28] martingust commented on #32
Another release is out, closing this.

[2016-03-29 20:28] #32 closed

[2016-03-29 20:28] #37 closed

[2016-03-31 15:09] FunkMonkey33 opened #40 "Setup Instructions in READMEOut of Date"
Doesn't seem to work with the 3/29/2016 Aurelia release.

[2016-03-31 15:23] martingust commented on #40
They should be updated. What is not working?

[2016-03-31 15:29] FunkMonkey33 commented on #40
Well I got an error when adding .plugin('aurelia-ui-virtualization') to the configure method.

[2016-03-31 15:45] martingust commented on #40
What is the error? Do you have latest of all Aurelia libraries?

[2016-03-31 16:04] FunkMonkey33 commented on #40
I think so.  I did a fresh npm and jspm install.
I'll try again later today.  I backed out my changes and am knee-deep in something else.  As soon as I can commit that, I'll try again.

[2016-03-31 17:22] FunkMonkey33 commented on #40
Well this is embarrassing. It's working fine.

[2016-03-31 17:25] FunkMonkey33 commented on #40
At least the setup is working.  I'm getting an error saying that it can't calculate item height.  That could be because of a <compose> element that's in there, even though the view inside of the compose has a set height.  I'll play around with it.  Thanks for your help.

[2016-03-31 17:34] martingust commented on #40
Awesome! Let me know if you run into any further issues.

[2016-03-31 17:34] #40 closed

[2016-03-31 17:36] FunkMonkey33 commented on #40
One other question, probably my error, and not worth starting an issue for.  Can you meet me over on Gitter?

[2016-04-02 06:21] martingust commented on #28
Updated Chrome (49) and that fixes the issue.

[2016-04-02 06:21] #28 closed

[2016-04-02 06:24] martingust commented on #13
Closing this since scroll events and scroll-handler.js is not used anymore.

[2016-04-02 06:24] #13 closed

[2016-04-02 20:13] #33 closed

[2016-04-02 20:18] martingust commented on #33
@vegarringdal Fix should be in. Number of views that will be moved is now limited to `number of rendered views * 2`. It seems to make it a lot smoother when quickly dragging the scrollbar through 100s of thousand items.

Thanks for bringing this up, big improvement with little effort!

[2016-04-02 20:37] vegarringdal commented on #33
Nice
Will you update the demo with the with the other buttons I told you about at gitter?
Maybe a note about browser limit maximum element height should be on the readme, so people dont think its actually a bug...

[2016-04-02 20:59] martingust commented on #33
Good points. Feel free to make a contribution with that :)

[2016-04-02 21:07] vegarringdal commented on #33
Ill try, busy with debugging/improving preformance at my grid atm :-)

[2016-04-06 19:57] palktonderAtpowelno opened #41 "Bug when virtual list items are reduced to less than the visible count"
When I filter the list used in virtual-repeat.for so that the new list is shorter than the count of visible items the old items appear as "ghosts". I think the culprit is in _inPlaceProcessItems of array-virtual-repeat-strategy.js where there is no check in the first for loop whether we are working beyond the itemsLength

      if (view.bindingContext[local] === items[i + first] && view.overrideCo

[2016-04-07 12:02] martingust commented on #41
@palktonderAtpowelno  What version of UI-Virtualization are you running? Related bugs are fixed in latest (0.4.0).

[2016-04-07 12:46] palktonderAtpowelno commented on #41
0.4.0. I'm not sure what bug you are referring to, but I'm experiencing these problems with the current source code.

[2016-04-07 17:43] martingust commented on #41
Got it reproduced. Will get a fix in soon.

[2016-04-07 18:02] vegarringdal commented on #21
Question is there a event listener I can hook up to listen for when client Height/client Width changes without using setTimeout and check?
Having the same issue with my grid element, have workaround with a function that can be called for it to fix it self that can be used with dialogs or similar using display:none
But would really like to improve this part

[2016-04-07 18:08] #41 closed

[2016-04-07 19:32] martingust commented on #41
@palktonderAtpowelno Patch release with fix is out. Thanks for reporting this!

[2016-04-10 23:24] levan1993 opened #42 "Can't use virtual list with custom elements"
Getting errors when using [virtual-repeat] with custom elements

[code]

[code]

[code]

[2016-04-11 05:49] martingust commented on #42
This is fixed in master and will go out in next release. https://github.com/aurelia/ui-virtualization/commit/1bc51a35271819b426a4d6650695006189933d09#diff-adfac5d6d19a901dc28a013797bd8541L15

[2016-04-11 05:49] #42 closed

[2016-04-11 19:34] unt1tled commented on #5
+1

[2016-04-14 18:39] mikhailshilkov opened #43 "Virtual-repeat doesn't work with tables"
I'm struggling to make Aurelia virtual-repeat.for work with table and tr elements. Here is my markup of the modified Users page of aurelia skeleton app:

[code]

When I scroll the table down, the items below aren't rendered and I see just the empty space all over. What am I missing?

Update: removing "height: 50px" for tr seems to fix virtualization, although I think it did not help when I tried w

[2016-04-14 23:13] ppn2 opened #44 "Virtual repeat with Tables - Buffer element is messing up the rendering"
If one has padding, border etc defined on the td (e.g. through bootstrap), buffer element is inheriting that and a row with one cell starts to appear.

Also on fixed layout tables, it messes up with the width of the columns.

[2016-04-18 11:14] Thanood opened #45 "Problems using this with custom elements"
Hi,

I have some problems using this plugin with custom elements.
Using this markup:

[code]

I'm getting this error:
[code]

```firstViewElement``` [here](https://github.com/aurelia/ui-virtualization/blob/master/src/virtual-repeat.js#L323) is null for me because ```this.view(0).firstChild``` in the line above is a comment (one of Aurelia's `````` comments).

In another view [this line](https://gi

[2016-04-18 12:42] martingust commented on #45
Thanks for reporting this. I will take a look.

[2016-04-21 17:58] #44 closed

[2016-04-21 18:01] martingust commented on #43
@mikhailshilkov A few fixes are in master, I tested your markup and your issue seems to have been resolved. Will go out in next release. Thanks!

[2016-04-21 18:01] #43 closed

[2016-04-21 18:02] martingust commented on #45
@Thanood Just tested your markup with master and is seems to have been resolved. Will go out in next release.

[2016-04-21 18:03] #34 closed

[2016-04-22 05:13] ppn2 opened #46 "Single cell buffer element still interfering with the normal table layout"
Just updated to version 0.4.3

The single cell on table buffer is still causing issues. It is still interfering with the column widths. You can see in the attached picture.
![image](https://cloud.githubusercontent.com/assets/15083089/14732239/51794b0e-081e-11e6-8256-3416e60f63c1.png)
(look at the top very top border. At the top of the first cell, it looks like a thick border because of the buffer

[2016-04-22 05:19] Thanood commented on #45
Great! :+1:
Thank you for looking into this.

[2016-04-22 13:40] mikhailshilkov commented on #43
Works indeed, thank you!

[2016-04-25 15:55] Thanood commented on #45
Unfortunately, this is not solved in my case. Maybe I'm doing something wrong.
Is there a gist.run I could possibly use to try or demonstrate?

I'll try to highlight the differences between using ui-virtualization with a custom element and a native element.

native:

[code]

generated html (only the first item):

[code]

custom:

[code]

generated html:

[code]

The injected viewSlot in the native

[2016-04-25 15:56] Thanood commented on #45
Could it possibly be the use of `<content>` elements in mdl-list?
I'm not (explicitly) using ShadowDOM..

[2016-04-25 18:41] Thanood commented on #45
@martingust I've been able to reproduce my problem here: https://github.com/Thanood/skeleton-ui-virtualization

The current version of [my-list.html](https://github.com/Thanood/skeleton-ui-virtualization/blob/master/src/features/my-list.html) reproduces the problem mentioned above:

[code]

The first element is created, the viewSlot is injected as a child of `#document-fragment`. It leads to the e

[2016-04-27 19:10] martingust commented on #46
@ppn2 That might be a better way to handle the buffer element in tables. Will look into this.

[2016-04-27 19:16] martingust commented on #45
@Thanood Thanks for repro and info. I will take a look at this and get back. If you want to dig in there and give it a shot to fix that would be greatly appreciated! I'll reopen this.

[2016-04-28 08:02] Thanood commented on #45
@martingust Thank you for reopening and having a look again. :smile:

I've started to try a fix but didn't get far yet. I only had this simple idea of creating another wrapper inside the shadow root (?) which acts as a new scrollContainer (kind of).

So that would become something like this.

[code]

[2016-05-01 18:48] Daniel-Glucksman commented on #5
+1

[2016-05-03 12:37] TGMorais opened #48 "Installing plugin with npm (missing modules errors)"
Hi, I just pulled a fresh skeleton from the aurelia navigation skeleton (es6+webpack)
I tried installing the plugin but webpack is throwing missing module errors.

All I did was `npm install aurelia-ui-virtualization --save`

I have not included the plugin yet, I've only installed the package.
After this, if you I `npm run dev` I get this:
[code]

Thanks!

[2016-05-03 12:39] doktordirk commented on #48
https://github.com/aurelia/webpack-plugin

[2016-05-03 13:43] tiagogm commented on #48
@doktordirk that would be if I installed the plugin in aurelia, as in adding `.plugin('aurelia-ui-virtualization');`. no?

In any case I did that and it didn't work :(
I added this to the webpack cfg

[code]

[2016-05-03 13:44] doktordirk commented on #48
try `npm i aurelia-templating-resources --save`

[2016-05-03 13:46] doktordirk commented on #48
ps do you have forks/can you have forks?

[2016-05-03 13:49] doktordirk commented on #48
(after reading again)
well, but's excactly that thing. doesn't find submodules

[2016-05-03 13:52] tiagogm commented on #48
@doktordirk what do you mean by forks? I'm working with a clean clone of aurelias nav skeleton.

I tried that, the package updated, but still the same errors.

`skeleton-es2016-webpack $ npm i aurelia-templating-resources --save`
`aurelia-templating-resources@1.0.0-beta.1.2.2 node_modules/aurelia-templating-resources`

I even tried including  both in the webpack cfg,

[code]

[2016-05-03 13:58] doktordirk commented on #48
hmm. you're right

[2016-05-03 19:05] martingust commented on #48
@TGMorais @doktordirk I think `imports` like this https://github.com/aurelia/ui-virtualization/blob/master/src/utilities.js#L1 need to be `import {updateOverrideContext} from 'aurelia-templating-resources'` and  `repeat-utilities` exported from [templating-resources](https://github.com/aurelia/templating-resources/blob/master/src/aurelia-templating-resources.js).

[2016-05-03 20:12] mbernard opened #49 "Error when removing a lot it items"
1. I start with a base array of 5 items
2. Then I add 150 items at index 2 with array.slice
3. Then I remove those 150 items with array.slice
4. I only have 4 items left in my view, however if I check the view model with AureliaContext extension for chrome I see that my array contains 5 items
5. Worst, if I re-do step 2 and 3, I lose items in my view each time. At some point I got this javascript

[2016-05-08 21:06] #48 closed

[2016-05-08 21:06] #49 closed

[2016-05-08 21:09] martingust commented on #49
@mbernard I found a couple issues when deleting a lot of items, fixes should be in master and hopefully that will also fix your scenario as well. This will go out in next release on Tuesday.

[2016-05-09 00:48] mbernard commented on #49
@martingust thx I'll try it out as soon as possible

[2016-05-10 22:22] mbernard opened #51 "Doesn't work anymore after update to v.0.4.5"
Just updated to v0.4.5 and the virtual-repeat.for doesn't work anymore
![image](https://cloud.githubusercontent.com/assets/1928530/15164343/1c3e44c2-16dc-11e6-9707-1a11c4dcdf5f.png)

My UI is super simple
![image](https://cloud.githubusercontent.com/assets/1928530/15164298/f4390cbe-16db-11e6-8d69-d62883340dd5.png)

[2016-05-11 06:09] martingust commented on #51
@mbernard Oops, `templating-resources` is missing an export. Will get fix in soon.

[2016-05-11 11:32] #51 closed

[2016-05-13 09:59] Thanood opened #53 "problem with filtered lists and cutom attributes"
Okay, this is a little difficult to explain for me. :smile:

On my quest to find a good solution for #45 I came across another issue when you combine a filterable list and a custom attribute which changes the css classes of a list item.

I've changed the sample to use a [customAttribute](https://github.com/Thanood/ui-virtualization/blob/customAttribute-css-issue/sample/src/features/item-indicator.

[2016-05-18 09:06] Thanood commented on #53
Nevermind, it's not a bug but maybe could use some more documentation..
In my custom attribute I have only set the css class on `attached()`. If I listen for the bound object (`itemChanged()`) and change the css class at that point again it works and does what it should do.

I think that the attribute (or the DOM as a whole) is reused when the array mutates. I didn't think of this but it's certain

[2016-05-18 09:06] #53 closed

[2016-05-18 17:58] mbernard opened #54 "Error while calculing item height"
@martingust
The virtual-repeat.for doesn't load anymore. It seems that there's always an empty element in the DOM as first child in the repeat and it make the calculateHeight to crash with an error as the height is 0. I don't know why there's always an empty element inserted before the elements that should be renderer. If I use the non virtual repeat.for there's no extra elements. (See screenshot)

[2016-05-19 09:11] cehoffman opened #55 "Detect Map mutations"
Besides the problem in #54 when binding an empty Map it seems that any additions to a Map instance using `map.set()` are not detected. Are maps supported with virtual repeat? I thought that was part of abstract repeat strategy. The only way I've been able to get anything to show with a map is to go through a value converter that produces an array and even when I do that any changes in the map are

[2016-05-20 03:45] francoishill opened #56 "Bug with long arrays, table and mutating the array"
Suspecting the pending pull-request https://github.com/aurelia/ui-virtualization/pull/50 might solve this bug?

Sometimes when a long array (item height is `32px` and number of items is `> 2000`) is mutated the currently "in view" table rows do not update. When I scroll down the items further down are as expected and when I scroll back up the top ones are correct as well.

By inspecting what happe

[2016-05-20 10:28] martingust commented on #56
Thanks for reporting. Can you please provide some more information on how to reproduce this? Ideally  in a fork of [skeleton-navigation](https://github.com/aurelia/skeleton-navigation/) I can run and see it fail.

[2016-05-20 10:38] martingust commented on #55
@cehoffman The `virtual-repeat` correctly uses the same plugin approach as the standard `repeat` where different strategiest for iterating different collections can be plugged in. However the stratagies are quite different from the standarad repeat due to the virtualization aspect. And currently focus is to make the Array strategy solid. Then on to map, set etc. Basically a map implementation of [

[2016-05-20 10:38] martingust commented on #54
Looks like a problem when iterating to empy array. Will look into this.

[2016-05-20 13:19] mbernard commented on #54
@martingust I've tried many things.
- Empty array
- Array with 1 element
- Array with n elements

In every case I have an empty dom element

[2016-05-20 14:00] martingust opened #57 "Rename ViewStrategy"
We alreade have `ViewStrategy` in the Aurelia core, the one in `UI-Virtualization` needs to be renamed.

[2016-05-20 14:07] martingust commented on #54
@mbernard I've just tried installing `virtual-repeat` in a fresh skeleton-navigation and it worked well. Are you up to date with all dependencies and have no forks? Also if possible can you provide some steps on how I can reproduce this, ideally in skeleton navigation.

[2016-05-23 16:34] lgabeskiria commented on #45
any progress on this?

[2016-05-23 18:52] Thanood commented on #45
Somehow, this totally escapes me..
i just think I don't know enough about `#document-fragment`, viewSlots or whatever would help here. :smile:

It works when wrapping the item to be repeated inside another div. Doing the solution (or hack) above manually like so:

[code]

I couldn't manage doing this in another view strategy, yet. The element "disappears".. Guess, I just didn't find the right spot

[2016-05-23 19:08] Thanood commented on #45
@martingust please see my fork here: https://github.com/Thanood/ui-virtualization

This doesn't even work and feels ugly. :smile:

I've basically introduced [a new view strategy](https://github.com/Thanood/ui-virtualization/blob/master/src/view-strategy.js#L88) if the parent of the `virtual-repeat` attribute's element is a `#document-fragment`. In this case, the list is surrounded with another `<d

[2016-05-23 20:12] martingust commented on #45
@Thanood Thanks for looking into this. I don't think adding a surrounding `div` would be necessary though. The problem is [here](https://github.com/aurelia/ui-virtualization/blob/master/src/virtual-repeat.js#L349) where the view's `firstChild` (the <view> - comment) does not have a parent element since that would be a custom element which aurelia manually inserts to the DOM. I think a solution is

[2016-05-23 20:18] EisenbergEffect commented on #45
@martingust Bear in mind this has all changed with the new shadow dom. There is a release available on github. We need to try to start aligning with that for the RC. It's not available through npm so it doesn't break others, only on Github.

[2016-05-23 20:21] Thanood commented on #45
@EisenbergEffect Your Gitter post popped up literally seconds after I posted here and I just thought you're reading my mind or something. :smile:

@martingust Great hint, thanks!
I guess I'll try again with `<slot>` and see what happens when I use it.
If that doesn't change too much I will have a look at contentSelectors.

[2016-05-24 10:58] martingust commented on #45
@EisenbergEffect Oh, I see that :) Will need to look into how virtual-repeat can align.

[2016-05-25 19:57] martingust commented on #56
@francoishill https://github.com/aurelia/ui-virtualization/pull/58 is now merged and might fix your issue, please try next release (Tuesday).

[2016-05-26 11:04] lsesol commented on #46
Could this be mitigated by simply setting a colspan on the buffer cell?

It's not technically correct, but all browsers I've come across accept an arbitrarily large colspan to mean all cols. However since the first item is rendered in order to get height should mean the actual column count is accessible.

[2016-05-28 20:02] levan-g opened #59 "Support horizontal virtualization"
For more details see "Horizontal Usage"
https://material.angularjs.org/latest/demo/virtualRepeat

[2016-05-30 18:28] martingust commented on #45
@Thanood @EisenbergEffect I've synced `virtual-repeat` to work with the new shadow DOM stuff. It seems to work good and also resolves this issue with custom elements.

[2016-05-30 18:34] Thanood commented on #45
Thanks a lot! :+1:
I will do a test run with my list later.

[2016-06-01 02:00] ajayvikas commented on #46
@lsesol my experience is that the table layouts are already very tricky. Injecting cells even with colspan makes it even more difficult. I still believe the best strategy to introduce buffer elements outside of the table.

[2016-06-01 18:16] martingust commented on #56
@francoishill New release is out, can you check if that solved your issue? Thanks!

[2016-06-01 18:18] martingust commented on #54
@mbernard Is this still an issue? New release got out yesterday.

[2016-06-01 18:24] mbernard commented on #54
@martingust Yes, I'm having trouble reproducing the issue in the skeleton though. I'm workin on it.

I found something that looks like the same error but I'm not sure it is.

If you use a virtual-repeat.for on a `<ul>` with "list-style: none" it seems to cause the same error

[2016-06-02 07:15] JSeligsohn commented on #5
+1

[2016-06-08 16:12] Thanood opened #60 "list not displaying content when filtered by custom attribute"
When filtering a list using value converters (not sure if this is the cause, but anyway) the resulting list is essentially empty. The data is still there (`this.items` contains the correct data).
In addition to being "empty" the list is displayed in a different order when removing the filter.

It's reproduced here: https://github.com/Thanood/ui-virt-filter-issue

Steps to reproduce:
- select an it

[2016-06-09 06:46] wenyuanwy opened #61 "Table rendering not correct in google chrome?"
Not sure is this a bug of aurelia or chrome or me, but firefox works fine.

Without scrolling, image preview position is correct.
![1](https://cloud.githubusercontent.com/assets/19831494/15919986/07e759ee-2e49-11e6-97d4-17bafbca5425.JPG)
After 1 scroll.
![2](https://cloud.githubusercontent.com/assets/19831494/15919988/091a5a28-2e49-11e6-880c-c6c871824d5b.jpg)

after few scrolls, the image is total

[2016-06-09 07:22] #61 closed

[2016-06-09 10:37] stefan505 opened #62 "'View' import missing in d.ts"
The current `aurelia-ui-virtualization.d.ts` release version has a missing `View` import from `aurelia-templating`. This is causing TS compile errors.

[2016-06-13 14:18] bellstrand opened #63 "Error: Could not calculate item height, when outer element has "display: none;""
When an outer element has the styling: "display: none;" when virtual-repeat.for="" is initialized it can't calculate the item height.

Tested with fresh install of latest skeleton-esnext (using chrome in windows 7).

I'd love to help if anyone can point me in the right direction of where to start.

[2016-06-13 14:34] EisenbergEffect commented on #63
I'm not even sure it's possible to fix that. If it has display none...the browser doesn't give it any size.

[2016-06-13 14:55] bellstrand commented on #63
Yeah, I know that... but wouldn't it be possible to detect that it doesn't have a size and make the calculations when it gets a size instead? (in my case when i decide to show the element).

[2016-06-13 14:56] Thanood commented on #63
Just an idea.. If you use `if.bind` instead of `display: none;` (or `show.bind`) bindings are not evaluated until the `if` condition is true. When that triggers, `virtual-repeat` will be able to calculate a size.

[2016-06-13 15:07] bellstrand commented on #63
@Thanood, Thinking about going one of those ways. Currently my element is shown on hover or click of a parent element (which makes this case a bit tricky). Might need to rework that if necessary.

[2016-06-13 18:46] martingust commented on #63
One improvement could be to provide an options attribute where you set the item height and the virtual repeat would skip the height calculation when it's attached to the DOM, thoughts?

[2016-06-13 20:15] bellstrand commented on #63
@martingust, Does the virtual repeat calculate only on the initial height or does it recalculate if/when the height changes?, if so, would it be possible to manually trigger a recalculate? (and handle the error in a good way?)

[2016-06-14 18:06] martingust commented on #63
@bellstrand It does not recalculate when the height changes, it probably could but it will add the complexity keep of adding/removing elements from the view port as the height changes. [Here](https://github.com/aurelia/ui-virtualization/issues/21) is an issue tracking this enhancement.

[2016-06-14 18:06] #63 closed

[2016-06-15 20:36] TheBerleyman commented on #5
+1 This, along with horizontal lists, would be quite helpful for a current project.
Looks like I have to roll my own, for now.

[2016-06-15 20:51] AStoker commented on #5
@TheBerleyman: https://github.com/aurelia/ui-virtualization/issues/59 for horizontal scrolling

[2016-06-16 07:38] JSeligsohn commented on #45
It seems I'm still running into a similar problem as @Thanood.
I have a custom element that uses `virtual-repeat` and receiving the error "Could not calculate item height" - the "parent element" it's looking at is the empty `div` that is inserted into the container to keep track of the view.

Here's the custom element:

[code]

Here is the input for the custom element:

[code]

Here is the output:

[2016-06-16 09:42] Thanood commented on #45
I'm getting another error with aurelia-templating 1.0.0-beta.3.0.2.

[code]

The variable `expression` here is `undefined`:
https://github.com/aurelia/templating/blob/master/src/view-compiler.js#L439

That is, the `expressions` array has one element which is `undefined`.

Repro: https://github.com/Thanood/ui-virt-expression-issue

[2016-06-17 06:13] martingust commented on #45
@JSeligsohn @Thanood I'll investigate this.

[2016-06-17 06:34] Thanood commented on #60
@vegarringdal mentioned to me that

I have not been able to check that, yet.

[2016-06-17 06:53] Thanood commented on #60
Please note that the above quote is an _assumption_, not a fact. :smile:

[2016-06-17 14:00] k2s opened #64 "v0.5.x doesn't work with jspm"
When bundling:
[code]

Doesn't work also in browser, similar error. The file `aurelia-ui-virtualization.js` is not installed.

[2016-06-17 14:14] EisenbergEffect commented on #64
I just pushed a patch. Try it now.

[2016-06-17 14:14] #64 closed

[2016-06-17 19:49] vegarringdal opened #65 "sample does not work, sample path is missing"
``` sample : 'sample',```` is missing in paths.js

https://github.com/aurelia/ui-virtualization/blob/master/build/paths.js#L11-L24

[code]

[2016-06-17 20:26] vegarringdal commented on #65
Would have been nice when running the sample if the ui-virtualization had source-maps too, so you could debug the code.

[2016-06-18 18:46] #65 closed

[2016-06-18 18:47] martingust commented on #65
@vegarringdal Thanks for report!

[2016-06-18 18:52] vegarringdal commented on #65
Any chance for the source maps too? :smile:
I dont know much about gulp, it just would be very useful to simply just debug the code, more useful for you if anyone find a bug too.

[2016-06-18 19:05] #57 closed

[2016-06-18 19:05] #56 closed

[2016-06-22 11:24] alexsurg opened #66 "Error: Could not calculate item height"
Hi,
After the latest update of the framework packages virtual repeat stoped working.
My code is very simple:
[code]
When this code is executes only the first item of the array is rendered and than i get the following exception:

[code]

Can you please help me with this issue.

Thanks,
Alex

[2016-06-22 11:46] martingust commented on #66
@alexsurg It looks like you are on an old version of UI-Virtualization (0.4.6), can you try with latest (0.5.2) and see if that makes any difference?

[2016-06-22 11:57] alexsurg commented on #66
Great, thanks.
The update to the latest version fixed it.

[2016-06-22 11:57] #66 closed

[2016-06-22 19:55] ajayvikas commented on #46
Hello @martingust

Would it be possible for you to predict when you are gonna work on this issue?

[2016-06-22 20:11] AStoker commented on #46
Might just be that some nifty CSS could fix the issue. For your problem right now, you could probably address it with CSS.

[2016-06-24 11:12] Daniel-Glucksman commented on #45
@martingust Is their any update on this?

[2016-06-24 14:37] palktonderAtpowelno opened #67 "During printing only a subset is actually printed"
I have a long list of items being displayed using virtual-repeat. When I try to print the list a lot of pages are printed but only the first couple of pages show actual content, the rest is blank. When I go back to a normal repeat everything is printed.

[2016-06-24 14:58] AStoker commented on #67
I'd imagine this is because the items that are not printing are not on the DOM (which is makes it virtual, it saves the DOM from potentially crippling amounts of elements), where as when you use the regular `repeat.for`, all the elements are in the DOM.

[2016-06-24 22:22] ajayvikas commented on #46
@AStoker this is not an CSS issue. Once you have a single cell in the first row, it immediately start to interfere with the layout. The table does not respect the column widths anymore. Also with the CSS I have tried everything but nothing seems to fix this problem. Also I have just tried on Chrome. Who know what other problems are lurking with other browsers.

[2016-06-25 07:32] francoishill opened #68 "The `table` mode is easy to corrupt data with many items"
Steps to reproduce:

- Download latest aurelia-skeleton from https://github.com/aurelia/skeleton-navigation and go into `skeleton-esnext` dir
- Install deps with `npm install` and `jspm install`
- Install this plugin `jspm install aurelia-ui-virtualization`
- Enable plugin in `main.js` with `aurelia.use.plugin('aurelia-ui-virtualization');`
- Replace `welcome.js` and `welcome.html` with the respec

[2016-06-25 08:22] martingust commented on #46
@ppn2 Sorry for the delay, other stuff have been prioritized. My plan is to start knock out issues on this repo within a week or so.

[2016-06-25 08:24] martingust commented on #45
@devteamexpress Sorry for the delay, other stuff have been prioritized. My plan is to start knock out issues (this included) on this repo within a week or so.

[2016-06-25 08:27] martingust commented on #68
@francoishill Thanks for great bug report. I'll look into this.

[2016-06-25 08:28] francoishill commented on #68
Awesome, looking forward!

[2016-06-26 18:07] martingust commented on #45
@JSeligsohn The `virtual-repeat` attribute needs to be placed on an element that has a height the browser can calculate, either a set height with CSS or some content in the html. In your example the content in your (inner) `repeat.for` has not been rendered yet and the element (div.product-row) might not have a set height with CSS?

[2016-06-26 18:28] martingust commented on #45
@Thanood Unfortunately got error when running gulp in your repro project, but I did copy all your files into UI-Virtualization's sample project and it all ran without errors.

[2016-06-26 18:31] martingust commented on #67
@palktonderAtpowelno Yes, that is correct what @AStoker wrote. Only whats in the DOM will get printed, if you need to print/render the entire list in the DOM you should use the standard repeat.

[2016-06-26 18:31] #67 closed

[2016-06-26 18:35] martingust commented on #62
Included in latest https://github.com/aurelia/ui-virtualization/blob/master/dist/aurelia-ui-virtualization.d.ts#L14

[2016-06-26 18:35] #62 closed

[2016-06-26 18:42] martingust commented on #54
@mbernard Any update on this? I tested run `UI-Virtualization` [sample](https://github.com/aurelia/ui-virtualization/tree/master/sample) app with `ul` and `list-style: none` and it seemed to work fine.

[2016-06-27 07:24] palktonderAtpowelno commented on #67
Honestly, I had already half guessed the reason for this behavior, but that's really not the point. It can't be that we have to choose between performance or the ability to print. I can just picture myself trying to explain to my customers the technical reasons for not having both; they'd laugh in my face. I would expect the code to be able to detect that we are currently printing (or previewing)

[2016-06-27 08:16] Thanood commented on #45
Thanks, @martingust. I will try this again with templating RC1 and report back.
Will also have a look at this gulp error. :)

[2016-06-27 08:32] Thanood commented on #45
@martingust No errors with `npm:aurelia-templating@^1.0.0-rc.1.0.0`! :smile:

Scrolling is "strange", though. Here's an animated gif showing what I mean:

http://i.imgur.com/Y3cBGK1.gifv
(it takes a few seconds before scrolling starts)

Please note that this list has 1000 rows. The template used is pretty simple:

[code]

Also I didn't experience any gulp errors. :smile:

But maybe this is another

[2016-06-27 08:42] martingust commented on #45
@Thanood Good that worked. I see the issue in the git and it looks very much like the same issue as this https://github.com/aurelia/ui-virtualization/issues/68. I'll close this issue, and will investigete the other issue.

[2016-06-27 08:42] #45 closed

[2016-06-27 12:50] AStoker commented on #67
@palktonderAtpowelno, if you provide your own kind of print dialog (or can hook into the browsers print dialog), it would be possible to use some binds to replace the virtual repeat with the standard repeat. But keep in mind, if you are using a virtual repeat because of performance issues, you will have performance issues when trying to print with the standard repeat. If the standard repeat takes

[2016-06-27 15:31] mbernard commented on #54
@martingust I'm sorry, I'm on a super tight schedule for a project and I had no time to dig the issue further. The virtualization was more a nice to have for us, so I put it aside for the time being. I'll try to build you a repro case as soon as I have some free time :D

[2016-06-27 18:43] #68 closed

[2016-06-27 18:44] martingust commented on #68
@francoishill Fix is in master

[2016-06-27 18:49] martingust commented on #45
@Thanood I located and resolved #68 but indeed it was not the same issue. There is a problem to insert the buffer elements in conjunction with content projection - right now it tries to insert the buffer elements before `au-content` element which is not in the DOM at the time and the buffer end up not being added to the DOM. Will need to look more into this.

[2016-06-27 18:52] martingust commented on #54
@mbernard I'm sorry you had to put it a side. Please re-open this when you get a repro together and I'll look into your issue. Thanks!

[2016-06-27 18:52] #54 closed

[2016-06-28 17:16] AStoker opened #69 "Recalculate Items Shown on Resize"
In the event that your scroll container is dynamic in size, and you resize that container to be larger than the initial buffer size, you will notice that you now have a blank space below the items that is not being filled in. When you scroll, you'll see the items being rebound and scrolling appropriately, but the space below remains empty.

[2016-06-28 18:01] AStoker commented on #59
@levan-g: How are you hoping to use horizontal scrolling? Can you send me a DOM snippet of what you're wanting? We use CSS Columns for our horizontal scrolling, and am curious how other people accomplish this. Going to take a stab at getting it working.

[2016-06-28 19:01] lgabeskiria commented on #59
@AStoker horizontal scrolling is usable in touch devices. There is a demo of horizontal scrolling on desktop with mousewheel http://codepen.io/ritz078/pen/bEYOov

[2016-06-28 19:47] AStoker commented on #59
I could see that horizontal scrolling would work fine with a flag indicating the direction of the scrolling, that  way we can determine the correct algorithm for determining how many items are to be displayed. But I'm trying to figure out if there's a way that we can determine that without a flag. And more so, if we can get that working without a flag and have it work with CSS Columns as well (whi

[2016-07-01 18:39] AStoker commented on #5
Made a pull request for basic infinite scroll support. I'd appreciate feedback: https://github.com/aurelia/ui-virtualization/pull/71

[2016-07-01 20:09] AStoker commented on #59
@levan-g, working on horizontal scroll here to make a PR: https://github.com/AStoker/ui-virtualization
Current remaining issue before I make a PR on it is when the user is scrolling very quickly, the indexes for which items to move get hosed, and you see empty slots where elements should be in the list. Feel free to take a look at it and maybe help with the problem.

[2016-07-04 14:31] EisenbergEffect commented on #30
@martingust Status?

[2016-07-04 19:02] martingust commented on #30
@vegarringdal @EisenbergEffect This might work for @vegarringdal last comment https://github.com/aurelia/ui-virtualization/pull/71#issuecomment-230342003

[2016-07-04 19:41] vegarringdal commented on #30
Hi
Regarding **Handle browser maximum height**
Biggest problem here is when someone have array length \* row height that get to big...

_**([in my grid](http://aurelia-ui-toolkits.github.io/demo-v-grid/#/samples/simple-html-col/all), maybe you have done it in a way thats better, and dont have this issue)**_
With row height of 25px these are the max last time I checked:
Edge/IE11: 61,200 rows , err

[2016-07-06 13:08] AStoker commented on #20
@jedd-ahyoung, so essentially you're proposing a "scroll to next page" type element, right?
What would be the possible pitfalls of that approach that you can think of? Would having an external element (outside the list) that performs the same action be sufficient for a screen reader? Not sure what all the accessibility standards are for usability in that setup.

[2016-07-06 20:18] martingust commented on #46
@ppn2 Ok, I've got this working by moving the buffer element outside of the table. Will need to do some more testing and refactoring before I'll get this in.

[2016-07-08 06:34] ajayvikas commented on #46
Thank you very much @martingust. I really appreciate it.

[2016-07-08 13:18] #5 closed

[2016-07-08 13:18] #46 closed

[2016-07-08 13:20] martingust commented on #46
@ppn2 Hopefully a fix is in mater, will go out in next release.

[2016-07-08 13:29] AStoker commented on #69
Just writing this comment here for either any community member to try, or as a reminder to me :)
I'm thinking that all we need to do is find a way to determine when the scrolling container has changed size (which might not be too hard to hook into since we are already constantly listening for scroll events via a timeout, we just hook a check for size changes in there too), and then call function u

[2016-07-08 22:00] rquast commented on #5
:clap: well done! 👍

[2016-07-11 13:10] AStoker commented on #60
Just to clarify what's going on. You have a list of items, you scroll down a bit so that there are items that are no longer in the DOM "above" where you're looking. You then trigger a filter that filters the items in the list so you have less items than before, but your scroll position stays in the same location, and therefore you don't see any items. But if you scrolled to the top, you'd see ever

[2016-07-11 22:48] Thanood commented on #60
@AStoker I'm not sure if that's correct.. :smile:
- I have a list of 1000 items, let's say 20 per page. Each of them with a chekbox and title. I select two of them.
- I scroll down to entries 500-520 and select 510 and 511.
- I click "show only selected" => the list is empty (so less items, yes) apart from a single empty checkbox without any title.

Now with scrolling up before triggering the filt

[2016-07-15 17:25] AStoker opened #73 "Items don't render when initially hidden"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.1.0.2

**Please tell us about your environment:**
* **Operating System:**
OSX 10.9|iOS|Windows 10

* **Node Version:**
5.5.0

* **NPM Version:**
3.3.2

* **JSPM OR Webpack AND Version**
JSPM 0.16.39

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
When page loads, the virtual repeat element is contained inside a d

[2016-07-19 00:19] rquast commented on #5
@martingust Did you rebuild dist after adding this? Doesn't look like its in there (just trying it out now).

[2016-07-19 00:20] AStoker commented on #5
It's there @rquast https://github.com/aurelia/ui-virtualization/blob/master/dist/amd/virtual-repeat.js#L327
Where are you looking? Have you gotten the latest release?

[2016-07-19 00:23] rquast commented on #5
my package.conf
    "aurelia-ui-virtualization": "^1.0.0-beta.1.0.2",

I did a grep on the repeat-next and RepeatNext in dist

[code]

[2016-07-19 00:24] AStoker commented on #5
So then what isn't working?

[2016-07-19 00:26] rquast commented on #5
Sorry.. my bad.. I was in the wrong directory. I just can't get it to fire getMore (from the example).

[2016-07-19 00:28] AStoker commented on #5
Can you post a snippet of what you're trying to do? There's a current issue where it can only call the function referenced in the `virtual-repeat-next` attribute if that function is in the same context as repeat binding.

[2016-07-19 00:29] rquast commented on #5
[code]

The add more works, but getMore doesn't when it scrolls. I put in a few extra divs because I know virtual repeat needs containers.

[2016-07-19 00:30] AStoker commented on #5
Nix the `()` in the attribute

[2016-07-19 00:31] rquast commented on #5
Yeah I originally didn't have it.. added that to try just in case.

[2016-07-19 00:31] AStoker commented on #5
This infinite scroll implementation is a bit limited, I would definitely classify it as a first draft. We needed it for our application, so we got the bare minimum in there to start it off. It would be great to have some more features for this.

[2016-07-19 01:13] ajayvikas commented on #46
hi @martingust. I tried the latest release and it immediately busted. I tracked the error to [this line](https://github.com/aurelia/ui-virtualization/blob/master/src/dom-helper.js#L3).
Basically for some reason the null value is being passed in the getElementDistanceToTopOfDocument function. To make it work I changed the code as follows

var box = element ? element.getBoundingClientRect() : {top:

[2016-07-19 03:07] rquast commented on #5
https://github.com/aurelia/ui-virtualization/pull/74 - will leave it there for now since things work on my side with that patch. Either my code there doesn't work properly (which I think it does), or the test is broken for fixed height containers. If I get some time, I'll look into it some more.

[2016-07-19 08:25] martingust commented on #46
@ppn2 Your change might be what's needed, I'll take a look when I get back from vacation.
1. Yes, `getElementDistanceToTopOfDocument` is called every 500 ms, it is calculating the the distance from top of the list to top of document, if this changes it needs to get the new distance. There might be a better way I don't know of the get notified when this distance changes without, any ideas are welco

[2016-07-19 16:18] tiagogm commented on #73
This is also happening to me.

I have a custom element with a virtual-list that is hidden with `show.bind` initially, when the list shows, only the first element is visible.

[2016-07-19 16:50] ajayvikas commented on #46
@martingust I would assume scroll event would take care of it but I can't help but thinking that you might have already tried it.

Recently I had a look at the virtual scroll from kendo guys. The demo is available at this [link](http://demos.telerik.com/kendo-ui/grid/virtualization-local-data). I feel there scroll feels snappy and well built. I compared with aurelia-virtualization demo. The differ

[2016-07-19 20:10] AStoker commented on #73
This is going to require a PR to fix until then. If you have a solution, it would be great to get it in.

[2016-07-20 06:48] martingust commented on #46
@ppn2 Yes, scroll event won't help here. The use case is if for example if some element expands above the list and pushes it further from the top of the document the list needs to get the new distance. Kendo's grid seem to only support lists in a fixed height container where this is not an issue.

When adding 500000 items you are probably hitting the boundary of the max height of your browser. We

[2016-07-22 12:14] easyt opened #75 "Scrollbar doesn't reflect new data"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.1.0.2

* **Operating System:**
Windows 8.1

* **Node Version:**
5.5.0

* **NPM Version:**
3.8.6

* **JSPM OR Webpack AND Version**
JSPM 0.16.31

* **Browser:**
Chrome 51.0.2704.106 m

* **Language:**
ESNext

**Current behavior:**
Virtual Repeat does not seem to readjust its "total virtual" height when navigating to the same route (

[2016-07-24 19:25] ajayvikas commented on #46
@martingust I am not following exactly "The use case is if for example if some element expands above the list and pushes it further from the top of the document the list needs to get the new distance". Can u please elaborate on this. May be I am missing something.

I understand 500000 items are not a practical scenario but I was comparing aurelia to kendo and kendo is generating 500000 items for t

[2016-08-02 05:13] ajayvikas commented on #46
hi @martingust, it will be very informative for me, if you could please answer above question.

[2016-08-04 15:03] don-bluelinegrid opened #76 "Unhandled rejection Error: Cannot find module './aurelia-ui-virtualization/virtual-repeat-next'."
Using aurelia navigation skeleton/typescript-webpack, v1.0.0

Installed aurelia-ui-virtualization module v1.0.0-beta.2.0.0 using npm, and I see it in my node_modules directory.

Added the following to my main.js/configure() function:
`.plugin('aurelia-ui-virtualization')`

As soon as this is added, I see the following error in the browser JS console at runtime, running in webpack dev mode:

`Unhan

[2016-08-07 15:19] Silvenga commented on #76
Had the same issue, I fixed it by following the path here: https://github.com/aurelia-ui-toolkits/aurelia-kendoui-bridge/issues/428

They recomeneded to add something like the following to your webpack.config:

[code]

However, this has been deprecated in favor of resources in the package.json (https://github.com/aurelia/skeleton-navigation/blob/master/skeleton-typescript-webpack/README.md#resourc

[2016-08-10 02:22] rquast opened #77 "Implement scroll from bottom"
Needs a switch where you an make the list scroll from the bottom, instead of from the top. Required for chat window like functionality.

[2016-08-10 08:30] stsje commented on #77
I don't think this needs to be part of the plugin. Hopefully it wouldn't be a problem implementing the feature yourself.
Here's an untested example that ideally should scroll to bottom. An improvement would be to scroll to bottom only, if the user haven't already scroll up in the list beforehand.

[code]

[2016-08-10 12:16] rquast commented on #77
Thanks very much for this. I did pretty much everything you said there already, except for putting the scrolltop/scrollheight thing inside of the microtask queue. Putting it in there got around the issue (I was previously having to put it in a setTimeout).

[2016-08-10 12:16] #77 closed

[2016-08-10 12:39] Thanood commented on #60
Update: in the first case, if I scroll to the bottom (`this.listElement.scrollTop = this.listElement.scrollHeight`) and then back to the top (`this.listElement.scrollTop = 0;`) I'm getting the expected result..

Currently failing to do that as a workaround in my app..

[2016-08-16 11:54] martingust commented on #76
@AStoker Any idea about this?

[2016-08-16 12:11] martingust commented on #75
@easyt This has nothing to do with the `virtual-repeat` but with the router. I think you will need to clear out the underlying array in the `deactivate` step.

[2016-08-16 12:11] #75 closed

[2016-08-16 12:36] martingust commented on #46
@ppn2 Here is a very simple example of what I'm trying to explain https://gist.run/?id=48c0e468a113137d68f42f112a60dadc

Basically the virtual-repeat needs to know the distance to the top of the document in order to know when an element should be moved from the top to bottom when scrolling. Does that make sense? Ideally, if possible, this can be handled in a different way without using `setInterva

[2016-08-16 13:02] AStoker commented on #76
I was not familiar with web pack config needs, and so I'm pretty sure that I need to just add that resource to the line: https://github.com/aurelia/ui-virtualization/blob/master/package.json#L126
Should be a very simple PR. I can include it in the current PR, or make a new one?

[2016-08-16 13:04] martingust commented on #76
@AStoker Cool, in current PR is fine, thanks!

[2016-08-18 21:19] AStoker commented on #73
I'm taking a look at this one now. Have an idea I'd like to throw out to you @martingust or anybody else who comes across this issue ( @TGMorais you might have some opinions since it's impacting you too).
I'm thinking about approaches to calculate the container height and element height when they're hidden. One approach to solving this (which involves jQuery, but can be done without) is documented

[2016-08-18 21:21] AStoker commented on #73
Downside to approach 1 though is that by technically "removing" it from the flow of the DOM, the element's size may have changed, so it's not quite as reliable.

[2016-08-19 07:18] #76 closed

[2016-08-22 06:56] martingust commented on #73
@AStoker I think 2 sounds good. If `calcOuterHeight` returns 0 [here](https://github.com/aurelia/ui-virtualization/blob/master/src/virtual-repeat.js#L410), keep check that value until its > 0.

[2016-08-22 13:03] AStoker commented on #73
I'm not sure if checking `this._itemsLength` on that line number is going to achieve that @martingust, since that's the item count for the array, and that can have a positive number on initialization, meaning it won't catch whether or not any items have been displayed yet.

[2016-08-22 13:05] AStoker commented on #73
My guess is that we want to actually catch it [here](https://github.com/aurelia/ui-virtualization/blob/master/src/virtual-repeat.js#L413).

[2016-08-22 14:23] AStoker commented on #73
@martingust, how does this sound [here](https://github.com/aurelia/ui-virtualization/blob/master/src/virtual-repeat.js#L413)

[code]

What will basically happen is if the `_calcInitialHeights` calculates 0 for the first item, we'll set an interval for every 500ms to check the height of the first element again, and then return out of the calculate function. Inside the interval, if we finally calcul

[2016-08-22 20:40] martingust commented on #73
@AStoker Oops I linked to wrong line, should definitely be the one you linked. I think your implementation is good. Perhaps we should log something about height being 0, sometimes it is not on purpose.

[2016-08-22 20:59] AStoker commented on #73
@martingust do you think it should be just a console log, error, debug? Sometimes those kinds of messages get swallowed up anyway. I'm not always inclined to put messages like that in the console because it can start to get a little cluttered.
That being said, yes, I would like it if the user could get the knowledge they needed if for some reason their views weren't showing up due to an error that

[2016-08-23 01:52] ajayvikas commented on #46
thanks @martingust. Is my understanding correct that the real utility of the setInterval is in those cases where the height of the container is not fixed??

Also I will check the performance of the virtual repeat again and update you with my observations.

[2016-08-23 05:46] martingust commented on #46
@ppn2 Yes, that is correct. Although this could possible be an issue with fixed height containers as well if there is a distance between top of list and top of container, like a top margin.

[2016-08-23 05:57] martingust commented on #73
@AStoker I agree, it can definitely get cluttered with too many logs. Just that I've seen many bug reports where the real issue is that the element doesn't have an height. But lets hold off on that, we can always add that later.

[2016-08-23 16:01] ajayvikas commented on #46
I do agree that not have a fixed height container make is convoluted to manage. In that case can we make setinterval fire only when you detect the container width is not fixed?

[2016-08-24 06:49] florinspataru1 opened #80 "Scroll up to a specific item"
Is there a way to scroll inside the list up to a specific item? I am building a contacts list and I want to use letter navigation functionality. So the user can scroll to a specific letter. Is this possible? how?

[2016-08-24 12:41] AStoker commented on #80
While they're two separate issues, this is probably hooked with this issue: https://github.com/aurelia/ui-virtualization/issues/7

If we're able to preserve the scroll position, that means we need to be able to scroll _to_ a position, which is what this issue is.
Right now I don't believe this is supported. If you have any ideas on approaches for this, it would be greatly appreciated.

[2016-08-26 11:46] #73 closed

[2016-08-29 05:49] jwahyoung commented on #80
@AStoker It's late and I'm awake because of Mountain Dew and some other stuff. However....in your case, since the virtual repeater works with a fixed height, it should be a matter of math; with a fixed height and an element at position `n`, we should be able to determine the scroll position. Essentially, this would be the same as using the `offsetTop` property of an element in the set, only we'd b

[2016-08-29 12:43] AStoker commented on #80
Yes @jedd-ahyoung, scrolling to a position should be trivial, and a simple PR would be awesome. :)
The trouble will be when you start incorporating the infinite scrolling capability into there. If you want to scroll to a position that was part of, say, page 3 of infinite scrolling, you'd need some way to restore to that position. That's the part where ideas would be welcome.
It's not impossible by

[2016-08-29 13:10] Thanood opened #81 "scrolling to the bottom fails with TypeError: Cannot read property 'instruction' of undefined"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 8

* **Node Version:**
6.2.2

* **NPM Version:**
3.10.5

* **JSPM OR Webpack AND Version**
JSPM 0.16.15

* **Browser:**
all
* **Language:**
all

**Current behavior:**

When scrolling down to the bottom of a list, the following exception is thrown:

[c

[2016-08-29 13:19] AStoker commented on #81
@Thanood, this should have been caught by tests (should have, but isn't 😉). Sorry that was slipped in there. I'll get a PR in to fix this ASAP.
Just curious, how are you scrolling to the bottom of the container?

[2016-08-29 13:57] Thanood commented on #81
@AStoker I use the mouse. :smile:
I mean, manually and no mouse wheel or anything, I just move the mouse to the bottom and release the mouse button.

I think this also happens when setting `scrollTop` but I did that only once.

[2016-08-29 14:07] Thanood commented on #60
Can I do anything to help with this?
I've tried to look at the code myself but I must confess that I don't really get it.

Last time I've tried the following:

[code]

(500ms was really needed in this case)
So I think that it has some relationship to scrolling which I don't understand.

To be more precise:
I mutate the array using a valueConverter. The array is suddenly much smaller and maybe (jus

[2016-08-29 17:16] AStoker commented on #81
@Thanood, what does your DOM look like? I just tried to reproduce this error, and couldn't get it to happen? I have an idea, but want to confirm what could be going down.

[2016-08-29 18:07] Thanood commented on #81
@AStoker I can post the DOM tomorrow since it's on my computer at work.
You do mean the DOM after `virtual-repeat` is active, right?

[2016-08-29 18:10] AStoker commented on #81
@Thanood, in particular, the elements that are repeating. are there any additional bindings on them? For normal elements like:
`<div virtual-repeat.for='item of items'>${item}</div>`, it shouldn't break because the check looking for `infinite-scroll` is short circuited before it gets there (it stops checking after seeing if `au` is on the element, which it isn't).
My thought is that maybe if there

[2016-08-29 18:29] Thanood commented on #81
@AStoker There are actually two lists in which this happens.

Here's the user selection:

[code]

The value converters filter the array by search term and "show only selected". It's the same like in #60 but that shouldn't be a problem here, right? Nothing is filtered there. It worked with beta.2.0.0 btw.

[2016-08-29 18:31] AStoker commented on #81
Okay, yah. The problem (which shouldn't _be_ a problem) is the use of repeating a custom element. I just wanted to make sure it was that particular case, and not some other case that wasn't being caught.

[2016-08-29 18:59] Thanood commented on #81
Great, thanks! :+1:

[2016-08-30 17:41] vegarringdal commented on #60
Hi, gave this a try.

If I replace [ let first = repeat._getIndexOfFirstView();](https://github.com/aurelia/ui-virtualization/blob/master/src/array-virtual-repeat-strategy.js#L32)
With this:
`let first = Math.floor(repeat.scrollContainer.scrollTop/repeat.itemHeight);`

I get @Thanood filtering to work, this change will calculate what the first index should be compared to scrolltop, because it was

[2016-08-31 05:14] #81 closed

[2016-08-31 11:31] Thanood commented on #60
I can confirm that @vegarringdal's change solves this problem for my use-case. :+1: :smile:

[2016-08-31 15:22] AStoker commented on #46
Mentioning this here since it was added to the comment of this: https://github.com/aurelia/ui-virtualization/commit/1fe64a65feb6c76b7ad38df51ea0b7b4028aadc5

Want to confirm @martingust, I've been working with somebody who's been having problems using the table with the virtual repeat. It seems that the buffer elements are now being placed outside the table (https://github.com/aurelia/ui-virtualiz

[2016-09-03 22:48] rquast commented on #24
+1 for an item based scrolling option. I'm using ui-virtualization in a chat channel where there is a big variation between item heights. Would also make it easier to scroll to a particular item, maybe?

[2016-09-06 13:25] AStoker commented on #24
@rquast, scroll to specific item is located here: https://github.com/aurelia/ui-virtualization/issues/80
In the mean time, I haven't tested this, so I have no idea about it's feasibility. But the variable item height might not be the end of the world bug for right now (don't get me wrong, I want this feature badly too ;) ). Right now we render a single item, measure it's height, and then figure ou

[2016-09-06 14:16] jods4 commented on #24
@AStoker rendering is really not an issue at all. Start with the first item visible and render as many items as you need to fill the viewport.

Where it gets very hairy is when it comes to managing the scrollbar. Basically, for a "traditional" scrollbar you would need to know the height of the complete viewport, which cannot be determinded in a variable-height, virtualized list. See my comments ab

[2016-09-07 21:35] rquast commented on #24
@AStoker @jods4 I think it may help if someone forks the project and tries to implement a scroll by item, just as a test to see what it looks like and how it may work. May also help figure out what some of the problems will be when it comes to implementing it.

[2016-09-08 19:39] gregorydickson commented on #5
In the past I have used Infinity from AirBnb and loved it's capability to free up resources as items paged off of the screen (http://airbnb.io/infinity/). I have built a couple of js apps where I needed to scroll through 10k-50k images or cards (image with some text). I finally hit the limit on what a javascript array could handle and started hacking infinity.js to have it use a better data struct

[2016-09-08 19:42] EisenbergEffect commented on #5
@gregorydickson You are in the right place to see that.
@martingust How are things looking in terms of features and stability? What would you say is left to do for v1?

[2016-09-08 19:43] gregorydickson commented on #5
ahh, just noticed, thanks!!!!!! my bad for not RTFM.

[2016-09-08 20:36] AStoker commented on #5
@gregorydickson, we're using this plugin in production and have tested it with over 100k items, so it's definitely good to go DOM wise. What we've noticed (however) is that older devices that don't quite have the memory start to struggle with JS arrays that go beyond 150k (crashing and the such).
I'm thinking for future features, having the ability to actually start removing elements from the sour

[2016-09-08 20:41] gregorydickson commented on #5
@AStoker nice!!!! thanks for the info.

[2016-09-10 03:02] ajayvikas commented on #5
If I can chime in here, I find aurelia-virtualization to be very useful. One thing I am not comfortable is that it uses timer firing every 500 ms. This is something I would like to avoid in our app. As I understand the timer is needed in some special cases. If those cases are not needed in normal situations, I would suggest this is made as opt-in feature for those special situations.

[2016-09-10 15:15] AStoker commented on #5
@ppn2, I understand the desire to not have a timeout firing that frequently. As of right now it is needed to help catch cases where the repeater is hidden initially, or if the user scrolls faster than the JS can render items (in which case it helps in the catch up). Not sure if either of those situations could be refactored into options... But If you have an idea on how to handle those two situati

[2016-09-15 20:05] hmarcelodn opened #83 "getBoundingClientRect Error when loading data to observable list"
I'm submitting a bug report

Library Version: 1.0.0-beta.3.0.1
Please tell us about your environment:

Operating System: Windows Server

Node Version: 5.0.0

NPM Version: 3.5.2

JSPM: 0.16.35

Browser: all

Language: ECMA6

Current behavior:

When loading a list from a http request the virtual-repear.for="item of data" where data is the observable list loaded from the http request displays the fol

[2016-09-16 12:56] AStoker commented on #83
Can you format your question according to the [issue template](https://github.com/aurelia/ui-virtualization/blob/master/ISSUE_TEMPLATE.md)?
Can you also provide code samples of what you're doing?

[2016-09-16 13:01] hmarcelodn opened #84 "Tables not rendering correctly"
I'm submitting a bug report

Library Version: 1.0.0-beta.3.0.1
Please tell us about your environment:

Operating System: Windows Server

Node Version: 5.0.0

NPM Version: 3.5.2

JSPM: 0.16.35

Browser: all

Language: ECMA6

Current behavior:

I created a basic table with hardcoded content. I specified the height on table and repeater item.

It works when scrolling down but its breaking when scroll

[2016-09-16 13:14] AStoker commented on #84
Try wrapping the table itself in a wrapper with a set size and an overflow property.
What version of the repeater are you using?
Can you post your surrounding code (instead of it being in a screencast)?
And could you also format your question according to the [issue template](https://github.com/aurelia/ui-virtualization/blob/master/ISSUE_TEMPLATE.md)?

[2016-09-16 13:19] hmarcelodn commented on #83
@AStoker Updated

[2016-09-16 13:27] hmarcelodn commented on #84
@AStoker Updated. I will take a look to the suggestion.

[2016-09-16 13:40] AStoker commented on #83
How are you loading the data? Can you show me your view model for where you're loading up `data`?

[2016-09-16 13:58] hmarcelodn commented on #83
@AStoker just a simple http request like below then assign the array to the observable.

`this.caseService
            .getCasesList(this.app.getOffice(), statusIds, typesIds, this.caseName, this.caseNumber)
            .then(response =>
            {
                this.data = response.rows;
            });`

It happens in the attached lifecycle

[2016-09-16 14:05] AStoker commented on #83
Sorry, I need to see a bit more :) Can you show me the view you have set up for this too?
Does `this.data` exist before the attached lifecycle?

[2016-09-16 14:06] AStoker commented on #83
And is there a reason that it's in the attached instead of the activate? Seems you'd probably want that kind of `get` logic in the activate

[2016-09-16 14:07] hmarcelodn commented on #84
@AStoker it works if i wrapp the table with a div like you said.  So is not there a way to just scroll the tbody?

[2016-09-16 14:08] hmarcelodn commented on #83
`import {inject} from 'aurelia-framework';
import {CustomMessages}  from 'shared/custom-messages';
import {EventAggregator} from 'aurelia-event-aggregator';
import {CaseService} from './case-service';
import {AppService} from 'services/app-service';
import {FormatFunctions}  from 'shared/format-functions';

@inject(CustomMessages, EventAggregator, CaseService, AppService, FormatFunctions)
export c

[2016-09-16 14:10] AStoker commented on #84
It's related to this: https://github.com/aurelia/ui-virtualization/issues/46#issuecomment-243799653
I don't have an answer right now unfortunately :(
@martingust, do you have an answer for the behavior of those buffer elements in tables?
In the mean time @hmarcelodn, is that good enough to get you going at least?

[2016-09-16 14:13] hmarcelodn commented on #84
@AStoker so far I can go with that I believe. I will find some kind of work around for headers. Thanks.

[2016-09-16 14:15] AStoker commented on #83
You shouldn't have to block the lifecycle (there's a case for it, but I try not to do too many blocking actions like that).
For kicks and giggles, what happens when you comment out your `search()` call in the attached, so that the api call isn't even made? Does it still throw an error? I know it won't be making any api calls.

[2016-09-16 14:19] AStoker commented on #84
No problem. I'd like to leave this issue open as a reference to fix the behavior with tables, since it seems a bit strange to me.

[2016-09-16 14:26] hmarcelodn commented on #83
@AStoker  I tried that. The same error happens when the list is empty (I created the variable in the constructor).

What I did now, was to return a promise from the activate method. That thing worked. What do you suggest to me to do? Sounds like a workaround since it is still failing when its empty.

[2016-09-16 14:33] hmarcelodn commented on #83
How about if you modify the list? will that recognize the changes in the observable list?

[2016-09-16 14:35] AStoker commented on #83
It should. And it should also work with an empty list, so it sounds like something is breaking where it clearly shouldn't :) Can you reproduce this in the skeleton project and an empty data list?

[2016-09-16 15:42] hmarcelodn commented on #84
@martingust @AStoker  please update this if you got some information regarding that improvement.

Thanks a lot for helping.

[2016-09-16 15:42] hmarcelodn commented on #83
@AStoker I am going to send you the Skeleton soon. Thanks for helping on this.

[2016-09-16 15:54] hmarcelodn opened #85 "[Question] InfiniteScroll vs Virtual-repeat"
Guys,

If i have a 100% table. whats recommended? Infinite scroll? Can i just use virtual-repeat.for and let the framework manage that?

Thanks.

@AStoker

[2016-09-16 16:47] hmarcelodn commented on #85
@EisenbergEffect @AStoker  do you guys have any idea on when a final first release would be released? That's a very interesting component.

[2016-09-16 16:49] EisenbergEffect commented on #85
We don't have a date. We're trying to work through a few more issues first though.

[2016-09-16 17:11] hmarcelodn commented on #83
@AStoker should I upload a pull request for that? Thanks.

[2016-09-16 17:33] AStoker commented on #85
What do you mean by a 100% table? What is the behavior you're trying to accomplish?

[2016-09-16 17:34] AStoker commented on #83
Pull requests are for if you have a fix for a problem. If you have a repo skeleton, just publish that to your own github account, and send me a link :)

[2016-09-16 17:52] hmarcelodn commented on #85
I meant 100% height.

http://screencast.com/t/ltKCjiwFe2C I tried that.

i.e. I dont need to specify the height, sounds like it manages whats possible.

Thanks.

[2016-09-16 18:53] AStoker commented on #85
Right now, there appears to be some strangeness to tables that aren't contained within some scrollable element. I'd recommend placing your table inside a div with a style of `overflow: scroll`on the container div.

Now, if you're asking about infinite scrolling or virtual repeat, they're both part of the same ui-virtualization plugin, but used for different things, but in conjunction. Virtual repe

[2016-09-19 06:02] martingust commented on #46
@AStoker We moved the buffer elements outside of the table since those were causing problems as mentioned in the issue. So as for right now it is desired. What strange behavior are you experiencing?

[2016-09-19 13:22] AStoker commented on #46
@martingust, if you have a table outside of some container div, then the scrolling behavior doesn't work. If you have something like this:

[code]

(please excuse any missed styles or what not, this was just to demonstrate the location of elements), when you end up scrolling down, the elements aren't scrolling correctly (either not rendered, or jerky scrolling), and when you scroll back up, the el

[2016-09-19 19:59] hmarcelodn opened #86 "Infinite-Scroll not working with tables"
I'm submitting a bug report

Library Version: 1.0.0-beta.3.0.1
Please tell us about your environment:

Operating System: Windows Server

Node Version: 5.0.0

NPM Version: 3.5.2

JSPM: 0.16.35

Browser: all

Language: ECMA6

Current behavior:

I created a table with 20 items inside the observable array. The table is wrapper with 200pxs, just 2 are visibles. If I scroll down it is not calling my inf

[2016-09-20 15:52] AStoker commented on #86
You're most likely running up against the buffer at the start. 20 items are already in the DOM (most likely), so that's why it's called as soon as you scroll (in case you have a _very_ small page size, and you want to ping the server for more data).
Your expected behavior I believe is already happening.

[2016-09-20 15:59] AStoker commented on #85
@hmarcelodn, are you good with this question now, is there anything else I can clarify? Or can we close it?

[2016-09-20 17:51] hmarcelodn commented on #86
@AStoker Thanks. It is not that clear for me.

What **topIndex: -3** means? How can I use such number to get more items? Is not that an **index >= 0** ?

If I have 10 items and I reached the end I want to know that my last element is 10 so I can fetch rows and skip 10 items from the results and get the range 10-20 for example.

[2016-09-20 18:18] AStoker commented on #86
When you get something like -3, it's an initial state that really is just noise. If you're getting true for both isAtTop and isAtBottom, then you know that you're currently rendering every single element in your array. The top element is rendered at the top, and the bottom element is rendered at the bottom.
If you have 10 items in your items array, and this function gets called, then you know that

[2016-09-20 21:01] AStoker commented on #83
Further clarifying this issue. Correct me if I'm wrong here @hmarcelodn.
This issue seems to only happen when using a table. and it is related to trying to get the first element of an empty tbody (https://github.com/aurelia/ui-virtualization/blob/30d9efa14373204f6e0eafe519470e6d3c8b52b4/src/virtual-repeat.js#L102); When we try getting the first element of a repeated div, the next element is an emp

[2016-09-26 04:41] #86 closed

[2016-09-26 04:48] #85 closed

[2016-09-28 03:14] EisenbergEffect commented on #83
How is this coming?

[2016-09-28 07:30] MikaelUlvesjo opened #87 "Adding items on top when scrolled down is not working correctly."
**I'm submitting a bug report**
- **Library Version:**
  1.0.0-beta.3.0.1

**Please tell us about your environment:**
- **Operating System:**
  Windows 7
- **Node Version:**
  6.2.1
- **NPM Version:**
  3.9.3
- **JSPM OR Webpack AND Version**
  JSPM 0.16.45
- **Browser:**
  all
- **Language:**
  all

**Current behavior:**
When adding items to the top of the list while scrolled down a few pages the

[2016-09-28 12:52] AStoker commented on #83
@EisenbergEffect, I can reproduce the issue.
Basic repro steps are for you to create a table with a virtual repeater on it, and then give it an empty list. The way that the template strategy is trying to find elements is causing it to not return any elements to render to, and therefore causing this issue.
It does seem related to an issue that was solved before by moving the table buffer elements o

[2016-09-30 17:48] NimaAra opened #88 "infinite-scroll-next does not call the method"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.0.1

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
4.4.6

* **NPM Version:**
3.10.7

* **Browser:**
all

* **Language:**
TypeScript 2.0

**Current behavior:**
Given the view:
[code]

And the view model:
[code]

Even though the initial data is displayed in it's entirety, upon scr

[2016-09-30 17:59] AStoker commented on #88
How many items is your initial page size? What you have seems pretty straight forward...

[2016-09-30 18:54] NimaAra commented on #88
I thought so too :-) The `logs` is initialized with 2000 records coming from a web service and all of the rows are displayed correctly. But the `getMore` is never called.

[2016-09-30 19:15] AStoker commented on #88
I've noticed a bit of strangeness with tables going on (haven't had the bandwidth yet to tackle it). For kicks and giggles, could you have the exact same code, but change the view so that it uses something else (like a div or a li)? That will just help me isolate the problem, hopefully.

[2016-09-30 20:54] NimaAra commented on #88
I just tried the exact same code on a different machine running node _v6.6.0_ and it is performing as expected. weird!

[2016-10-03 04:00] #88 closed

[2016-10-03 12:54] AStoker commented on #88
@NimaAra it sounds like you have some setup that isn't behaving correctly. Perhaps the plugin isn't configured correctly in the `main.js`? Did you just copy your entire code base over to another machine and have it work there? Or just the view/viewmodel? If just the view/viewmodel it would seem to me that there is something else going on like either a corrupted package or bad configuration.

[2016-10-03 13:45] NimaAra commented on #88
It's all good, I had to clean the _npm cache_ and do an `npm install`. Now everything is fine. I guess there were clashes between packages as my source stayed the same.

[2016-10-03 14:41] AStoker commented on #88
Awesome, glad you got it working!

[2016-10-05 19:21] gregorydickson commented on #5
I just implemented this on my app. It rocks!!!! Thanks: @AStoker @EisenbergEffect

[2016-11-11 14:16] FunkMonkey33 opened #89 "Rebinding List to New Array, List Still Shows Some of the Old Items"
**I'm submitting a bug report**

* **Library Version:**
major.minor.patch-pre
1.0.0-beta.3.0.1

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
6.9.0

* **NPM Version:**
3.10.8

* **JSPM
JSPM 0.16.45

* **Browser:**
Chrome

* **Language:**
ES6

**Current behavior:**
When you rebind the virtual list to a new array,
     e.g. this.myArray = getNewDat

[2016-11-11 14:21] AStoker commented on #89
Could you set up a basic reproducible gist for us to look at? Definitely seems strange. We're currently replacing our list in a similar manner for searching (although it's a bit different), and we don't have a problem. Might be a specific way you're doing it... But I'm not sure.

[2016-11-11 14:24] FunkMonkey33 commented on #89
I'll have to do it this weekend.  Thanks for the quick reply!

Aaron

[2016-11-11 14:26] FunkMonkey33 commented on #89
I will say that we have a bunch of Compose elements in there.  Don't know if that's relevant.

Thanks again.

Aaron

[2016-11-11 14:31] AStoker commented on #89
No problem, I just so happened to have my browser open and saw this issue fly in :)
Compose elements _might_ be a contributing factor.... But I wouldn't bet on it. I'd really just need to see what's going on to know for sure. I'm usually out over the weekend, so if nobody else gets a chance to look at it, I'll try to take a peek on monday.

[2016-11-11 20:02] FunkMonkey33 commented on #89
OK, I feel stupid.  How do you add aurelia and this plugin to a gist?  I've never used gist before, just JSFiddle.  Can you point me to a good resource on gist?

Thanks.

[2016-11-11 21:30] AStoker commented on #89
Don't feel stupid, sometimes Gist gives me a run for my money too :) If you can't get it to happen in a gist, just make a repository that I can clone and try it on.
A gist example of getting a custom element to work is here: https://gist.github.com/AStoker/3a20dc24ca5c32c4b29fe6990dd30156
I don't have an example with a plugin right now.

[2016-11-12 18:09] jdanyow commented on #89
@FunkMonkey33 here's a gist you can use as a starting point: https://gist.run/?id=7542e061bc940cde506b

[2016-11-16 23:35] colin-umn commented on #16
I see this has been open for over a year.  Does that indicate a general lack of interest in Aurelia development for accessibility support?  I have been considering Aurelia for a development project for a public institution but will need to return to more established frameworks if accessibility is a big gap.

[2016-11-17 13:40] AStoker commented on #16
@colin-umn, if you have experience with accessibility, I'd greatly appreciate a PR to help solve this issue. I don't think accessibility will be a bottle neck for you though, since you're able to write your own ARIA tags and support as much accessibility requirements as you need. Accessibility should be up to the coder, since who knows how somebody is going to use a particular plugin.

I think for

[2016-12-02 14:38] PeterWone opened #90 "Demo totally fails in both Edge and IE11"
**I'm submitting a bug report**

The demo at http://aurelia.io/ui-virtualization/ fails to render on IE11.447 or Microsoft Edge 38.14393.0.0

One item is rendered. You can manage the number of items in the list but the virtual list rendering is totally busted. It works fine on Chrome and Firefox.

[2016-12-02 20:06] AStoker commented on #90
Are you getting any errors in the console?

[2016-12-02 21:40] PeterWone commented on #90
Edge? No. IE11? Yes.
The attached object looks okay.
[code]

[2016-12-05 15:12] AStoker commented on #90
That looks like a bug in the build process. That's come up on occasion for me, and I think it's related to how the CLI bundles it's files in different orders. I'm not sure what the demo site uses though. But I don't think the issue is related to the virtualization plugin (thankfully).
It looks like the config file has two separate versions of Bootstrap installed... It might just need to remove one

[2016-12-06 00:59] PeterWone commented on #90
I see that bootstrap message a lot with CLI apps. If I remember correctly you can make it go away by specifying the jQuery dependence and making the boostrap entry the first item in the dependency section of the aurelia.json file. I don't think bootstrap is the problem because a fault in the build process should cause the same problem on all browsers. At least it seems so to me.

I started to recr

[2016-12-06 14:02] AStoker commented on #90
Could be that perhaps Edge/IE are loading things differently/strangely, which causes this error?
I've been loaded up with other things, and I lack the time to look at this right now. I do know that the virtualization works in IE and Edge because we use it in our production application. So at least that's good :) Would you have time to look into why this is failing and maybe make a PR?

[2016-12-06 15:13] paulclijsters commented on #87
I'm running into the same problem.

After diving into the code, it seems to be a problem when handling added splices in `array-virtual-repeat-strategy`. In case `hasDistanceToBottomViewPort` is true, the item is always added, and maybe removed again. When disabling this check (by setting it to false), it seems to fix the problem and the available unit & integration tests are still succeeding.

Thi

[2016-12-06 18:41] Thanood commented on #90
This issue has also been discussed here: https://github.com/aurelia/skeleton-navigation/issues/632
Bottom line seems to be that

My guess is that there are multiple jQueries or jQuery is not exposed to the `window` (at least not soon enough). In both cases it could be a solution to include jQuery in an "ordinary" `<script>` tag in index.html.

[2016-12-06 23:07] PeterWone commented on #90
I thought that might be so, which is why I worded it "_demo_ totally fails". I've managed to get faker to work with a CLI app, so I will try to clean-room the demo. The way I load faker is truly hideous but all mocks are hacks anyhow, so I can live with it.

[2016-12-07 01:05] PeterWone commented on #90
I now have a clean room implementation of the demo running on both Edge and IE11. They both flake out after about 50000 items but (a) no sane person would ship a result set that large across the net even in chunks (b) this is a shortcoming of the JS engine in use, not the library.

My version is CLI with Typescript, do you want it? I have a GitHub identity but no experience with contributing code

[2016-12-07 12:34] lulumetro opened #95 "Allow to specify an offset for Infinite-Scroll"
**I'm submitting a feature request**

* **Library Version:**
1.0.0-beta.3.0.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.6.0

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
JSPM 0.16.45

* **Browser:**
all

* **Language:**
all

**Current behavior:**
The infinite-scroll-next handler is triggered when the list "isAtTop" or "isA

[2016-12-07 13:49] AStoker commented on #95
This is something that has been discussed before. The concept is to use "markers" in the array so that when a "marker" suddenly becomes visible, it's time to get more data. This should be easy enough to accomplish, such that when a calculated number of elements (based off the current height of the container) have been scrolled past (or there are only a certain number of elements left), we trigger

[2016-12-07 13:53] AStoker commented on #90
All browsers have limitations. IE and Edge do seem to hit a limit faster than others in regards to how much data it can actually store. A solution for this would be to remove items from the array as you go down.

If you want to post the link to your reproducible repo, that'd be helpful. But right now, I don't have time to fix the demo. A fix for your setup would be to just prepend jQuery in the ve

[2016-12-08 11:17] mateuszdw commented on #84
Any news on that bug? Simple table with bootstrap styling throw getBoundingClientRect error. I'm using aurelia-ui-virtualization@1.0.0-beta.3.0.2. Wrapping table like this:

[code]
Still not fix issue for me.

[2016-12-08 11:40] MikaelUlvesjo commented on #87
The items in view should stay in view even if new items are added above, the only indication of the list change is that the scrollbar should move and be resized.

[2016-12-08 21:32] AStoker commented on #80
@florinspataru1, is this still an issue for you?
An approach that we use is just using math. If you know which element you need to scroll to, you know which element that is in your array of items. Assuming your elements all are static height (which is the assumption currently for the repeater), you can multiply the item height by the location of the element in the array. _Then_ you simply need to

[2016-12-08 22:48] #80 closed

[2016-12-10 11:23] mateuszdw commented on #84
For those who really like to use current version of virtual-repeat with tables, try bootstrap grid layout:
[code]
What else cost me o lot of time to figure out was oneTime binding in virtual-repeat. It's obviouse you can't use ${file.no & oneTime}. Is worth mentioning in docs you can't use oneTime in virtual-repeat block.
By the way GREAT component!

[2016-12-12 10:35] piwnik opened #97 "ui-virtualization crash on big array changes"
Big changes in array cause ui-virtualization crash
[code]

To reproduce make such changes in sample application:
1. In phone-list.html. After "Swap" button add input (line:12)
[code]
2. In phone-list.html. Change source array from "objectArray" to "objectArray3" (line:21) like this:
[code]
3. In phone-list.js. Add implementation of search method, which just replace array content with new items.
[c

[2016-12-12 15:26] chuckwatson87 opened #98 "Data not being bound to DOM when array is changed."
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.0.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.8.1

* **NPM Version:**
3.10.8

* **Browser:**
Chrome 54.0.2840.99  (only one I've tested in so far)
* **Language:**
all | TypeScript X.X | ESNext

**Current behavior:**
I have an array of around 300 elements.  This array is

[2016-12-12 21:46] EisenbergEffect commented on #97
@martingust @AStoker Can you guys look into this?

[2016-12-12 21:48] EisenbergEffect commented on #98
Ping @martingust @AStoker

[2016-12-14 11:34] MikaelUlvesjo commented on #87
We have tested the fix, the original issue seems to be resolved.
But a new one has been found, and comparing to the master branch your fix have made i worse.
The new problem is that if items are added while scrolling up the list will start to have empty elements.

To replicate the problem add a new button which toggles continues feeding of elements to the list.
Easiest to replicate when scrolling

[2016-12-19 03:55] PeterWone commented on #95
This approach would be an improvement but it forces the user to load the entire list to get at the last page. It would be much more useful to virtualise the _model_.

What I want is a SparseKeyset class that contains (surprise!) a sparse keyset. By keyset I mean that each item has an Id and a Caption, and resolving the Id value to an actual object is out of scope for the list. By sparse, I mean th

[2016-12-19 10:46] Thanood commented on #60
This is still bugging me. 😃
So, I dug a little deeper and it seems that [let first = repeat._getIndexOfFirstView();](https://github.com/aurelia/ui-virtualization/blob/master/src/array-virtual-repeat-strategy.js#L32) is called *before* the array mutation takes place.
To be more exact, the array is mutated but `viewSlots` seems to be at its old value.

If you put a log line in there which prints `th

[2016-12-19 11:37] Thanood commented on #60
It works as expected when you return the actual index of the first view in the *viewSlot array* as opposed to the index of its `overrideContext`. So, if you replace this:

[code]
https://github.com/aurelia/ui-virtualization/blob/master/src/virtual-repeat.js#L404-L406

With this:

[code]

It works as I would expect it.
~~Unfortunately, two tests (infinite scroll) are failing with this change. :conf

[2016-12-19 19:03] Thanood commented on #60
Does that even make sense..? It's always at `0`, right? 😂

[2016-12-19 19:49] vegarringdal commented on #60
@Thanood
What about the workaround/hack I did, did that fail somewhere ?

[2016-12-19 23:05] Thanood commented on #60
@vegarringdal I'm not sure about its side effects and there has been no comment about it. (or in other words: not sure if it breaks anything 😏 )
I'll put it to test tomorrow.

[2017-01-03 16:33] chuckwatson87-zz commented on #98
FYI, this issue seems similar to the issues that are being addressed with pull requests [99](https://github.com/aurelia/ui-virtualization/pull/99) and [96](https://github.com/aurelia/ui-virtualization/pull/96).  I will re-test once those are merged in.

[2017-01-04 14:19] bigopon opened #100 "[Feature Request] Support for null virtual repeat strategy"
**I'm submitting a feature request**

* **Library Version:**
latest

**Please tell us about your environment:**
* **Operating System:**
all

* **Node Version:**
7.x

* **NPM Version:**
3.10.x

* **Browser:**
all

* **Language:**
all

* **Current behavior:**
Giving `virtual-repeat` an undefined / null property, it will throw an error, which does not match the expectation of normal / standard aureli

[2017-01-08 22:03] vegarringdal commented on #90
The issue is prb maximum height of a div (issue with large arrays in IE)

http://stackoverflow.com/questions/7719273/determine-maximum-possible-div-height

ie is around 50k when row is 25px, ff is little bit more, chrome is 800k when I tested this on my own grid, its possible to calculate.

[2017-01-13 15:47] reinholdk commented on #97
Run into this issue as well. There are other cases where mutations are not handled correctly, e.g. when scrolled down or in case of multiple non-consecutive splices (e.g. when implementing a search/filter for a virtual list). Have provided a PR #101 which to fix those issues.

[2017-01-13 16:40] EisenbergEffect commented on #97
@jdanyow @martingust @AStoker Can one of you look at the PR please?

[2017-01-23 08:27] alexisargyris opened #102 "infinite scroll on an empty array"
**I'm submitting a feature request**

* **Library Version:**
1.0.0-beta.3.0.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.2

* **NPM Version:**
3.10.6

* **JSPM OR Webpack AND Version**
JSPM 0.16.32 | webpack 2.1.0-beta.17

* **Browser:**
Chrome 57

* **Language:**
TypeScript 2.2.0

**Current behavior:**

infinite scroll on an empty array

[2017-02-06 22:11] yammerade opened #103 "Infinite scroll fails when data in array is updated"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.0.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.2

* **NPM Version:**
4.1.2

* **JSPM OR Webpack AND Version**
webpack 1.13.3

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
Infinite scroll `getMore` method is no longer called once data in array is upd

[2017-02-06 22:16] bigopon opened #104 "[Feature Request] Enable programmatic scrolling"
**I'm submitting a feature request**

* **Library Version:**
Latest

**Please tell us about your environment:**
* **Operating System:**
Any
* **Node Version:**
Any

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
Any

* **Browser:**
all

* **Current behavior:**
Theres no way to programmatically scroll to an index of the virtualized repeat. I think it can be done manually via setting sc

[2017-03-08 12:34] avizcaino commented on #97
Hi!, any update on this matter? I'm having similar behavior when updating the lists order after applying some filters...

Thanks!

[2017-03-13 07:10] altenstedt commented on #87
I am having this issue as well, or a variation of it.  I have spotted an error in the code, but I do not understand enough of it to provide a fix.

In array-virtual-repeat-strategy.js, function `_inPlaceProcessItems`, line:

    let first = repeat._getIndexOfFirstView();

does not work when the input items array has been reduced in size.  Variable `first` is used to access elements the items array

[2017-03-16 14:42] altenstedt opened #106 "Reducing the number of items in the array will not render correctly"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.0.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
4.5.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.32

* **Browser:**
all

* **Language:**
all

**Current behavior:**

When reducing the number of items in the array, virtual-repeat.for will not render

[2017-03-17 13:11] altenstedt commented on #106
A naive update, like adding the following line just before re-evaluating the existing bindings:

    first = Math.min(first, itemsLength - viewsLength);

does not fully resolve this issue.  I think I will wait for the pending pull requests 96 and 101 to be merged, as it all seem somewhat related.

[2017-03-17 13:15] AStoker commented on #97
I've got a few things on my plate at work, but I think I might have enough time to take this. @piwnik or @reinholdk, could one of you guys make a repo or a gist of a minimum project that reproduces this issue? It would just help me get to it faster.

[2017-03-17 15:56] reinholdk commented on #97
@AStoker the additional test cases in my PR #101 should be sufficient to reproduce. They are all failing with the current master.

[2017-03-27 17:26] AStoker commented on #106
@EisenbergEffect, can you assign this issue to me?

[2017-03-27 22:15] AStoker commented on #106
@altenstedt, more than just providing a correct `first` property, we need to update the `$index` as well (which leads me to believe there might be some other binding data that I need to ensure is modified). Looking into it now.

[2017-03-27 22:17] AStoker commented on #98
Related to: https://github.com/aurelia/ui-virtualization/issues/106
Working on resolving there.

[2017-03-27 22:17] AStoker commented on #89
Related to: #106
Working on resolving there.

[2017-03-28 09:49] Thanood commented on #106
Could this be related to #60? I'm hoping... 😃
At least the workaround looks similar.

[2017-03-28 10:26] AStoker commented on #106
@Thanood, it is most likely related. I'm digging into some of the bugs in the virtualization list, and there does seem to be some bugs in how it handles mutation of arrays (which includes arrays with filters).

[2017-03-28 16:06] AStoker commented on #106
I have it so the indexes are all correct now. The last little bit is getting the scrolling scenario under wraps.
What can happen is you scroll to the end of a short list where we are at the bottom of our buffer heights, and we have our excess elements above our view space. When that is expanded into a long list, we want to move those excess elements that were above our list to be below (like it no

[2017-03-30 14:34] bdacoderchris commented on #106
@AStoker we are experiencing a similar issue of certain bindings not updating until you refresh the page when an item is removed from our array. What is the status on your potential release?

[2017-03-31 11:00] AStoker commented on #106
@bdacoderchris, I think I have the solution, but I need to finish writing some tests and fixing one that is failing. I'm out for the weekend (no internet where I'm going). Best case is I get the PR in the next few hours, otherwise probably Monday morning.

[2017-03-31 18:37] AStoker commented on #104
@bigopon, do you think you could show me an example of how you want to do this?

[2017-04-03 15:28] AStoker commented on #60
@thanood, can you see if #107 fixes this?

[2017-04-03 16:12] Thanood commented on #60
I will try it when I get home. 😃

[2017-04-03 18:05] bdacoderchris opened #108 "Methods in Attached() and Bind() are not being called for every item in an array"
**I'm submitting a bug report**

**-Library Version:**
1.0.0-beta.3.0.2

**-Please tell us about your environment:**

**-Operating System:**
Windows 10

**-Node Version:**
6.9.2

**-NPM Version:**
3.10.9

**-Browser:**
all

**-Language:**
all

**Current behavior:**
Using the virtualization library, `bind()` and `attached()` are not being called for all of my custom elements, just some. For example

[2017-04-03 18:36] Thanood commented on #60
@AStoker I can confirm this issue is fixed using my reproduction repo: http://github.com/Thanood/ui-virt-filter-issue

✨ 👍

[2017-04-03 22:09] AStoker commented on #60
Thanks! I'll try and get this in shortly

[2017-04-04 00:52] bigopon commented on #104
Hmm, I think something has changed. I recall when I created this issue, i cannot get `virtual-repeat` to render items correctly, as if there was no scroll event fired when I manually set `scrollTop` of the container.

But now when opening the demo page of virtual repeat:
- then open the control
- select one of the containers
- change the `scrollTop` to any number

Result is good, virtual repeat go

[2017-04-04 19:51] AStoker commented on #104
:+1: There's still some bugs lingering around (especially with tables), thanks for catching `ol`.
Do you think you could make a PR for this kind of functionality?

[2017-04-04 23:00] bigopon commented on #104
Let me have a look at the whole code first then ill get back to you :smile:

[2017-04-05 15:33] #106 closed

[2017-04-05 15:36] AStoker commented on #98
Resolved by https://github.com/aurelia/ui-virtualization/pull/107

[2017-04-05 15:36] #98 closed

[2017-04-05 15:36] AStoker commented on #89
Resolved (hopefully) by https://github.com/aurelia/ui-virtualization/pull/107

[2017-04-05 15:36] #89 closed

[2017-04-05 15:36] AStoker commented on #87
Resolved (hopefully) by https://github.com/aurelia/ui-virtualization/pull/107

[2017-04-05 15:36] #87 closed

[2017-04-05 15:36] AStoker commented on #60
Resolved (hopefully) by https://github.com/aurelia/ui-virtualization/pull/107

[2017-04-05 15:36] #60 closed

[2017-04-05 15:37] AStoker commented on #106
Resolved (hopefully) by https://github.com/aurelia/ui-virtualization/pull/107

[2017-04-05 15:39] AStoker commented on #7
@weoreference, you should be able to preserve the `scrollTop` position of your element and simply reset that value when you come back.
I'm going to close this for now, if that solution does not work, please let me know and we can reopen.

[2017-04-05 15:39] #7 closed

[2017-04-07 05:44] bigopon commented on #104
I'm not sure how I would go for this, currently `virtual-repeat` is expected to be used with `for`, which wont let us do something like:
[code]
@AStoker @EisenbergEffect Am I correct ? If so what should I do ? support it in this form only:

[code]

[2017-04-07 15:17] AStoker commented on #104
I'm wondering how useful this functionality would really be in the end. We don't want to load up the `virtual-repeat` I think. And since we're using real scroll bars, I'm thinking that the best approach would be to let the user just use the natural browser way of scrolling to an item. A simple helper function could be used to "scroll to an item", as all you have to do is calculate the height of ea

[2017-04-20 11:59] leak commented on #30
Is there any progress in this area?

The demo http://aurelia.io/ui-virtualization/ still seems to suffer from the div height limitation. If I add 200k rows in Chrome (Vivaldi) and scroll to the bottom I get a blank area.

[2017-04-20 16:05] AStoker commented on #30
@leak, there hasn't been progress made, but we'd love help from the community!
We haven't nailed down a solid way to solve this problem yet, so any idea you have would be greatly appreciated.

My current thought process for solving this is to some fancy tracking with ratios. Basically, once we reach a certain height (items * individual item height), the browser's scroll wheel will already be at it

[2017-04-20 16:28] vegarringdal commented on #108
Isnt it best if it just do bind/attached events when it creates the actual rows, doing unbind/detached, bind and attached when scrolling would prb use a lot more resources, then just setting new value to the bindingContext ?

In the new grid Im making Im just doing setting new values, maybe that is not good? hmm
https://vegarringdal.github.io/vGridDemo/

[2017-04-21 09:24] leak commented on #30
Haven't really seen a solution yet that doesn't have issues.

This is performance-wise probably one of the best I've found so far, it seems to use some virtual paging:
http://jsfiddle.net/SDa2B/263/

Small problem though, if you click on the free area of the scroll bar for scrolling, the thumb starts jumping.

**edit
Actually it also seems to jump when using the arrows.

[2017-04-21 17:54] AStoker commented on #30
Nice. If you're interested, you could make a branch and try implementing that in there, see if we can't get some movement on that.

[2017-05-17 19:55] Nepoxx commented on #83
Is there any progress on it or a workaround? As far as I understand this seems to be an issue on empty lists, which should get "resolved" once the list is filled/replace?

[2017-05-17 20:37] AStoker commented on #83
@Nepoxx, some development was done recently with sizing elements. I don't recall if it directly solved this or not, can you confirm that it's still broken?

[2017-05-17 20:46] Nepoxx commented on #83
I am still seeing the issue, but upon digging a bit deeper, I don't think it is caused by the same issue. My list is composed of (non-virtual) sub-lists, so I don't think virtualization can know how big the items of the list will be since they do not "exist" yet.

[2017-05-17 20:49] AStoker commented on #83
So right now we have it set up so that it doesn't compute heights until at least the list is visible. So I guess the situation (sorry, it's been a while) is that when you have your async stuff, you need a callback to recalculate the heights?

[2017-05-17 21:06] Nepoxx commented on #83
I'm not sure. Interestingly enough, the list does render correctly (but breaks my routing for some reason). Not a huge deal as this is not my main use case for virtualization.

I know a lot of similar libraries for other frameworks require that the elements of your list have the same height, is this also a requirement here? I am definitely breaking this assumption, the elements of my lists have va

[2017-05-18 12:47] AStoker commented on #83
In regards to the height, yes, this library assumes that all heights are the same. I have a few ideas floating around on how to improve this to allow dynamic height. The issue becomes more complex with dynamic heights as you need to at least somewhat reliably recalculate buffer heights to simulate a proper scroll bar height.
With dynamic heights, what we'll have to give up is a fully "scaled" scro

[2017-05-18 13:11] Nepoxx commented on #83
I missed this part in the readme: `The repeated rows need to have equal height throughout the list,`

My apologies.

As to your comment, I think the only correct way would be to do something like a virtual (virtual) dom render so that you know exactly what the list looks like, assuming that the list is generated once. If the list changes dynamically I don't think there's much you can do to tell th

[2017-06-22 10:08] pragmaproducts opened #109 "Uncaught (in promise) TypeError: Cannot read property 'attrToRemove' of undefined"
Get the top error when running virtual-repeat.for on a li

Usage:
[code]

packages:
[code]

main setup:
[code]

[2017-06-27 13:58] AStoker commented on #109
@pragmaproducts, please reformat this to follow the [Issue Template](https://github.com/aurelia/ui-virtualization/blob/master/ISSUE_TEMPLATE.md).

Also, more details on the error would be helpful.

[2017-06-28 07:40] caperavensoftware commented on #109
I'm submitting a bug report I'm submitting a feature request

Library Version: 1.0.0-beta.3.1.0
Please tell us about your environment:

Operating System: OSX 10.x|Linux (distro)|Windows [7|8|8.1|10]

Node Version: 8.1

NPM Version: 5 +
JSPM 0.16.32
Browser: all Web Browser
Language: all | ESNext

Current behavior:

Expected/desired behavior:
that i show s a list of items with out throwing errors

[2017-06-28 12:44] caperavensoftware commented on #109
You can close this item. I found the problem.
It was in the way the plugin was registered.

this is the problem
[code]
this solved the problem
[code]

[2017-07-05 11:01] mKlus commented on #90
@PeterWone I wanted to recreate the virtualization in cli project as well to confirm that it works fine in IE11 (In fact in a .Net Application that has an embedded IE WebBrowser Control). But now I found this thread and was wondering if you'd be able to share (zip) your project with me so I can give it some test?

[2017-07-05 12:54] PeterWone commented on #90
You're in luck. It took a while but I've found it. This zip file is basically the whole project omitting the node_modules folder to keep the size down.

[virt.zip](https://github.com/aurelia/ui-virtualization/files/1124670/virt.zip)

[2017-07-05 22:45] mKlus commented on #90
@PeterWone Thank you very much! :) It just worked.

The IE11 performance seems much worse then Chrome, though. For example when scrolling down 10000 items using scrollbar the divs become invisible while scrolling and once you release the scrollbar they load. I wonder if it is limitation in IE or bug in aurelia or elsewhere.

[2017-07-05 23:20] PeterWone commented on #90
If you really want to handle lists with that many items you could re-write ui-virt to let the browser process its message queue more often.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: mKlus<mailto:notifications@github.com>
Sent: Thursday, 6 July 2017 8:46 AM
To: aurelia/ui-virtualization<mailto:ui-virtualization@noreply.github.com>
Cc: Peter Wone<mailto:pe

[2017-07-05 23:42] vegarringdal commented on #90
@mKlus @PeterWone

Using requestAnimationFrame more might help..

Im using it 2 times on my grid on scrolling, think thats what helped me a lot in IE11
Demo link to the new one Im working on/off :-)
https://vegarringdal.github.io/vGridDemo/

click the `push(data) 10 000` to add 10k rows in the demo

Btw, not using ui-vir in this one, but it supports unless scrolling (if you dont go over browser di

[2017-07-10 11:40] mKlus commented on #59
Hi guys. Is this now part of aurelia’s virt plugin? Or do I need to get AStoker’s version? Could you please post a simple snippet of the code with horizontal scrolling please?

[2017-07-31 06:16] JordyvA opened #110 "With.bind not working with ui-virtualization?"
**I'm submitting a bug report**

* **Library Version:**
major.minor.patch-pre
1.0.0-beta.3.1.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.11.1

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
Chrome 59.X

* **Language:**
all

**Current behavior:**
I've got the error "element.getBoundingClientRect

[2017-08-02 21:54] palktonderAtpowelno opened #111 "this._first in virtual-repeat.js becomes negative when changing to smaller sized array"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.1.0

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
6.11.1

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
webpack 1.13.3

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Since the code allows this._first to be negative, the corresponding first it

[2017-08-05 22:51] palktonderAtpowelno commented on #111
I've tried to create a pull request for this issue using Github for desktop, but for some reason I don't have permission to push to Github using the description in the [contribution page](https://github.com/durandalproject/about/blob/master/CONTRIBUTING.md). Unless I get help with that I need somebody else to look at this bug. I really need help with this as we already use it in our solution (yes,

[2017-08-08 06:13] wcislom commented on #97
It seems this issue still exists. I have the same problem as guys above. When are you going to fix it? It has taken almost 9 months already.

[2017-08-08 06:48] EisenbergEffect commented on #97
@AStoker Can you look into this again?

[2017-08-28 13:04] AMartens181 commented on #24
The easiest way to get around this would be to use a regular repeater and attach a scroll event to it. Have an array to keep track of your current results and swap out which results go where when your scroll percentage is <5 or >85 (<5 because swapping the arrays is faster than your getmoreresults function, probably)

[2017-08-28 13:28] #111 closed

[2017-08-28 13:34] AStoker commented on #24
This is why the virtual repeater is still in "beta", still have time to tweak before it goes full V1 😄
I think a scroll by item approach would solve a number of the complexities that exist in virtual scrolling. I haven't had time to play around with that approach yet though. Any contributions from the community would be greatly appreciated.
That's where the "open-source" part of the project comes

[2017-09-15 04:37] nisargrthakkar commented on #84
Is there any solution for this bug? Got table structure error `getBoundingClientRect '

[2017-09-15 04:38] nisargrthakkar commented on #83
Any update on this bug? I got this error while using `virtual-repeat` for table

[2017-09-16 13:57] elitemike commented on #83
I too just ran into this issue while creating a demo scenario for a performance fix.

[2017-09-26 12:03] fragsalat opened #114 "Bottom placeholder height not updated when getter changed with computedFrom"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.1.0

**Please tell us about your environment:**
* **Operating System:**
Ubuntu 17.10

* **Node Version:**
8.4.0

* **NPM Version:**
5.3.0

* **Browser:**
all

* **Language:**
all

**Current behavior:**
virtual-repeat has to iterate over the return value of a getter annotated with computedFrom. The source objects changes and the g

[2017-09-26 14:13] fragsalat commented on #114
During updating the tests I recognized that the problem only occurs when a huge item list is changes to an empty one.

[2017-11-02 21:58] allencoded opened #117 "Unshifting items onto array isn't seemless"
With the virtualization I have loaded in 20 items from an array. As the user scrolls down I load in 20 more items and it works perfectly. However as the user begins to scroll up I attempt to unshift onto the array of items adding 20 more to the top of the array.

However while 20 more shift into the top of the array it pushes all the others down. In other words it doesn't seem to hold my place and

[2017-11-10 12:25] 130nk3r5 opened #118 "New feature - NPM or AU install for aurelia-ui-virtualization"
I'm submitting a feature request

Library Version: 1.0.0-beta.3.1.2
OS: windows
Node VS: 6.11.2
NPM v: 3.10.10
AU v: 0.31.3

Require AU install or NPM install support for aurelia-ui-virtualization
If I currently install via npm or au, I get a LOT of errors and issues.

[2017-11-21 14:56] 130nk3r5 commented on #118
Anyone?

[2017-12-06 13:28] JordyvA commented on #83
I'm getting the GetBoundingClientRect error when I'm using the "with.bind" structure from Aurelia in the repeater. I think this library can't handle that. See the linked issue: https://github.com/aurelia/ui-virtualization/issues/110

[2017-12-06 18:32] avrahamcool opened #119 "Cannot read property 'lastChild' of undefined - error when data loads empty"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.1.2
(works well for 1.0.0-beta.3.1.1 and below)

**Current behavior:**
![error](https://user-images.githubusercontent.com/5445320/33680542-a1b8b19c-daca-11e7-8017-6a1b28172540.png)

if the data is empty when the view loads, the virtual-repeat throws an error.
already discussed on the commit itself - but I opened an issue so it wo

[2018-01-03 06:53] JordyvA commented on #119
Same issue over here, have picked 1.0.0-beta.3.1.1 for now.

[2018-01-03 07:01] bigopon commented on #119
@EisenbergEffect @AStoker this PR #105  that adds support for `null/ undefined` also tackles this issue. Would be great if you can review and merge it so folks can continue with their work. Having null/ undefined / empty array support making it a lot easier / more Aurelia.

[2018-01-03 07:03] bigopon commented on #108
I think ideally bind should be called for all items, but attached detached will be called depending on the situation. @EisenbergEffect can you revise this to see if it's actually a bug or design decision ?

[2018-01-03 07:10] EisenbergEffect commented on #119
Deferring to @AStoker

[2018-01-05 21:54] vegarringdal opened #124 "Info- Not bug - vgrid"
Just as information...

Ive created this datagrid last year (2.0, but only 1.0 in npm), its pretty much pure Aurelia plugin(no dependencies except Aurelia framework)

Dunno if anyone knows about it...?
Feel it could be here as information, dunno if you have tag for that. "info only"
Grid is using its own virtual scrolling, weird mix, but have grouping an locked columns too.

**Aurelia v-grid**
htt

[2018-01-12 12:55] KayvandenHeuvel opened #125 "Request - multiple items per row (grid system)"
**I'm submitting a feature request**
We want to use ui-virtualization with an grid system. At this moment it works great with items that are full width and have an fixed height, but fails when we use a system like 'Material Design Components' or 'Bootstrap'.

We have an page with a large array of components that are aligned with 3 items in 1 row and on smaller screen this goes to 2 items and event

[2018-01-12 13:47] JordyvA commented on #125
That would be awesome. All the items still have the same height, but there are 3 items next to each other (or 2). The buffers on top / bottom should adjust their heights with the count of horizontal elements. The lazy loading needs to load 1 row (1, 2 or 3 items) instead of 1 all the time.

[2018-01-13 17:17] avrahamcool commented on #119
any news on this?

[2018-01-17 20:44] reft opened #126 "Replacing array displays empty rows or moves client scroll position"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.2.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.9.1

* **NPM Version:**
5.5.1

* **Browser:**
Chrome

* **Language:**
TypeScript >=1.9.0-dev || ^2.0.0

**Current behavior:**
Adding items to the array works as expected:

this.myArray = this.myArray.concat(result);

But when

[2018-01-17 20:45] reft commented on #126
Empty rows:

![image](https://user-images.githubusercontent.com/3218213/35066097-c132ab24-fbcf-11e7-8cd0-932f7eb95f1e.png)

[2018-02-09 07:04] bigopon commented on #126
@reft Do you have a simple repro repo / gist I can look at ?

[2018-02-09 07:23] reft commented on #126
@bigopon It's a private repo so I don't have anything atm but I can probably throw together an example later tonight or tomorrow.

It should not be hard to reproduce the problem.

1. Use a table with 200+ rows.
2. Scroll down to a scroll position
3. Onclick event on table row that replaces the array, this.myArray = new array [] (Should be same data/size but perhaps with some properties changed)
4.

[2018-02-09 07:46] bigopon commented on #126
That case is already addressed in the fix in my other PR. Can you use that fix and update me ? You can simply go to the gist in that pr, copy the entire ui virtualization file and use it locally instead updating the node module

[2018-02-09 09:16] reft commented on #126
@bigopon You mean this file, ui-virtualziation.js?

https://gist.run/?id=f12e45770938f3ffa14b713d69cdcb71

I'm not sure where to put this file, I'm currently using: node_modules\aurelia-ui-virtualization\dist\amd\aurelia-ui-virtualization.js

[2018-02-09 09:36] reft commented on #126
@bigopon I'm unable to test your files locally using typescript, I'm getting:

GET http://localhost:3000/client/aurelia-ui-virtualization.js net::ERR_ABORTED

It did however load when i tried the files in a new project without TS...
Changing .js files to .ts gives me a ton of build errors.

[2018-02-09 21:46] bigopon commented on #126
the transpiled js is here https://gist.github.com/bigopon/f12e45770938f3ffa14b713d69cdcb71#file-virtual-repeat-transpiled-js (I ran it through typescript transpiler at https://typescriptlang.org/playground)

How to load this, please have a a look at the gist @reft

[2018-02-09 23:16] reft commented on #126
@bigopon Thank you, got it working now but the problems remain..

[2018-02-09 23:26] bigopon commented on #126
Ok I see, the issue happens when you are at the bottom. and replace existing by a new array with the same length. I think it should be addressed in another PR

[2018-02-09 23:30] reft commented on #126
@bigopon  I think I found the problem..

![capture](https://user-images.githubusercontent.com/3218213/36054961-81047014-0df9-11e8-832e-e990268eed37.PNG)

The array before and after does not have the same format

*Correction, image on the left is from the api response and image on the right is from the current displayed array before update.

@bigopon It has something to do with binding right, how d

[2018-02-10 12:08] reft commented on #126
I found a workaround, instead of doing this:

[code]

I can do:

[code]

I no longer get empty rows and the scroll position doesn't move :)

[2018-02-10 12:23] bigopon commented on #126
@reft yes it's the getter / setter set by binding system to detect changes. so your array is still there. Glad you got it working, but make sure you migrate to the new version once the fix for that ready 😄

[2018-02-10 14:49] reft opened #128 "Scrolling up/down with table and virtual-repeat-for causes display bugs"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.2.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.9.1

* **NPM Version:**
5.5.1

* **Browser:**
Chrome

* **Language:**
TypeScript >=1.9.0-dev || ^2.0.0

**Current behavior:**
Using table with virtual-repeat-for is causing unexpected bugs with the display of the array.

It s

[2018-02-10 14:51] reft commented on #126
@bigopon It seems like table with aurelia-virtuaization is still bugged.

I have opened another issue that is somewhat connected with this issue.

https://github.com/aurelia/ui-virtualization/issues/128

I have also tried your gist version but it did not help..

[2018-02-10 21:21] #126 closed

[2018-02-10 22:47] veikkoeeva commented on #128
Might be related to https://github.com/aurelia/ui-virtualization/pull/101 too.

[2018-02-12 13:58] #100 closed

[2018-02-12 18:14] avrahamcool commented on #119
should be fix by: https://github.com/aurelia/ui-virtualization/pull/127

[2018-02-12 18:14] #119 closed

[2018-02-16 15:15] paranoidandroid522 opened #129 "Inifinite Scrolling not working with too small initial array"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.2.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.8.0

* **NPM Version:**
4.2.0

* **JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
all

* **Language:**
TypeScript 2.2.1

**Current behavior:**

When I use `infinite-scroll-next="getMore"` with a very small initial

[2018-03-02 14:58] Alexander-Taran commented on #21
Stale from 2016

[2018-03-02 15:10] Alexander-Taran commented on #69
[IntersectionObserver](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API) might be a good candidate to utilize, when the time comes

[2018-03-03 15:04] Alexander-Taran commented on #55
stale since 2016

[2018-03-05 09:40] Alexander-Taran commented on #95
I'll just leave it here
https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API

for when the time comes
https://caniuse.com/#feat=intersectionobserver

[2018-03-05 12:54] Alexander-Taran commented on #20
stale since 2016

[2018-03-07 16:23] Alexander-Taran commented on #117
there is infinite-scroll-next, but i don't see infinite-scroll-previous.
You might want to rethink your strategy or change this issue to a feature request.
But it would be great if you could provide a Pull Request
https://github.com/aurelia/ui-virtualization

[2018-03-13 14:28] tbnovaes commented on #128
I'm having same problem, with components. I'm creating a table, and each row has 3 charts, when I scroll up and down, the attached/detached method of the component is not called again. So it loads the wrong component.

It would also be nice to have rowCreated and scrollingStarted, scrollingEnded callbacks.

[2018-03-13 14:40] tbnovaes opened #130 "Add rowCreated, scrollStarted and scrollEnded callbacks"
**I'm submitting a feature request**

* **Library Version:**
1.0.0-beta.3.2.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.13.3

* **Node Version:**
9.4.0

* **NPM Version:**
5.6.0

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Right now the only callback we have it the infinite-scroll

**Expected/desired behavior:**
It would be great to have rowCreat

[2018-03-15 22:47] Alexander-Taran commented on #114
PR merged
seems like it can be closed

[2018-03-23 00:03] Alexander-Taran commented on #118
screenshot or it didn't happen

seriously.
provide an actual error log please.

[2018-03-23 00:26] Alexander-Taran commented on #118
0.33.1
rjs/ts
no errors installing
[code]

[2018-03-24 23:47] Alexander-Taran commented on #69
linked to this https://github.com/aurelia/ui-virtualization/issues/69

[2018-03-25 00:06] Alexander-Taran commented on #117
maybe can be closed.

[2018-03-26 22:08] Alexander-Taran commented on #109
this one can be closed (-:

[2018-03-26 22:10] Alexander-Taran commented on #109
@caperavensoftware thank you so much for reporting back your own solution

[2018-03-27 06:45] 130nk3r5 commented on #118
I actually got this working.
What happened was that the au install did not set up the configuration correctly. It was pointing to files that did not exist. I basically had to find these files and configure it to point to the correct directories...

[2018-03-27 06:45] #118 closed

[2018-04-06 17:30] elitemike commented on #125
I definitely would like this, I am trying to build a photoviewer that is putting 3 items per row

[2018-04-07 01:52] amartens181 commented on #102
Is this fixed in 6f92c31?

[2018-04-07 02:28] bigopon commented on #102
The commit fixed issues related to collection mutation and collection assignment. I don't think it fixes this issue by any chance. Not sure how it's gonna be working, as `infinite-scroll-next` is supposed to be used for fetching next items, not part of the initialization ?

[2018-04-07 19:59] Alexander-Taran commented on #102
Yeah.. "holding it wrong"
but I remember there was another issue related to this.. where w/o scroll available fetch-next would not fire.. and use case was to get enough items for scroll to appear.. but what if it's too much..
ppl seem to want to get the exact amount of items..

[2018-04-18 05:35] phanithinks commented on #128
any update on this. I am too facing same problem. Is there any work around for this

[2018-04-18 06:10] avrahamcool commented on #128
same issue here..

[2018-04-18 06:37] bigopon commented on #128
I'll take a look

[2018-04-18 15:23] salminio commented on #83
Just tried upgrading to 3.3.0 from 3.0.2 and this issue just appeared - same stack as previously mentioned. Interestingly enough the code around the error doesn't look very much different. What I noticed is the VirtualRepeat.prototype.attached getting called before the list is even valued in the later code where the prior code (where it works) - it isn't called until valued and the 'element' then

[2018-04-19 10:52] bigopon commented on #84
A fix is at #131, if anyone still using virtual table, please give it a check.

[2018-04-19 10:54] bigopon commented on #128
@reft @avrahamcool @PhanindraKumar A fix is at #131, could you guys give it a check ?

[2018-05-03 06:29] phanithinks commented on #128
@bigopon I can still see the issue. One thing may be its because we are not using html table. we are using div with flex box to build tables. does it make any difference ?

[2018-07-12 15:12] ciriousjoker commented on #117
Same issue here.. This one and 8 of the other bugs just make this completely unusable for me.

Is this even updated anymore?

I mean, the latest commit is from 10 days ago, but there are still bugs from 2016/2017 :(

[2018-07-12 15:14] ciriousjoker commented on #109
Why is this still open?

[2018-07-12 16:38] Alexander-Taran commented on #109
@EisenbergEffect can be closed

[2018-07-13 00:09] #109 closed

[2018-07-17 06:34] alexisargyris opened #133 "preserve scroll position after sorting a long list"
Hello,

If the user is at the top of a really long list and reverses the list's sorting the current item is now at the bottom. Given that scrolling to the new position is not feasible or even desirable how such a situation should be handled?

[2018-07-26 09:58] avrahamcool commented on #130
this will be really helpful.

[2018-07-26 13:48] avrahamcool commented on #108
In my opinion:
one can have the ability to replace "repeat.for" with "virtual-repeat.for" and back without major changes in the behavior of the components themselves.
the only difference should be in the behavior of the container and the scroll etc..

if this point of view is correct:
we should always call `attached` on all elements, even if they are not currently loaded into view.
and `detached`

[2018-07-26 14:42] st-it commented on #83
In my case (`tr` element with `virtual-repeat` attribute). It seems the attached function has a comment node declared at the element property. The comment node is a child node of the `tr` element.
Just created this module with a piggyback which works around the issue by overwriting the element to the parent element.
This can be loaded as a global resource from the main module.

Hope this helpes fi

[2018-08-27 21:52] will-moore commented on #80
Apologies, but how do you "tell your scroll container to scroll to that height" after the DOM has rendered?
e.g. ```document.getElementById("myDIV").scrollTop = '500px'```
Would this go in a task / microTask in a taskQueue?

[2018-08-31 09:15] petronellius opened #134 "Empty item at the top of list"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.3.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.11.4

* **NPM Version:**
6.1.0

* **JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
Tested on Chrome 68.0.3440.106

* **Language:**
TypeScript 2.8.1

**Current behavior:**
When CPU is high and new items are added t

[2018-11-06 15:46] roddharris commented on #83
I'm getting the same error `Object doesn't support property or method 'getBoundingClientRect'`.  I'm doing the following:

    async validateFile() {
       this.dialogService.open(…) //Allows user to select a file
          .whenClosed(async response => {
              if(!response.wasCancelled){
                   this.isProcessing = true;
                  //below line populates billingValidati

[2018-11-15 10:37] tmueller opened #136 "content projection causes missing buffer elements"
_Originally posted by @martingust in https://github.com/aurelia/ui-virtualization/issues/45#issuecomment-228839089_

When using content projection, the buffer elements are appended to an `<au-content>` element while the virtual repeats created children are appended to the custom element in the dom.

[2018-12-20 08:46] Sayan751 opened #137 "aurelia-ui-virtualization cannot be used in CodeSandbox"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.3.2

**Please tell us about your environment:**
* **Environment**
CodeSandbox

* **Operating System:**
NA

* **Node Version:**
NA

* **NPM Version:**
NA

* **JSPM OR Webpack AND Version**
NA (most probably Webpack)

* **Browser:**
Chrome 71.x | Firefox 63.x

* **Language:**
ESNext

**Current behavior:**
Unable to use "aurelia-ui-

[2018-12-20 13:37] Sayan751 opened #138 "Rough scrolling and broken styles with table"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.3.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.13.0

* **NPM Version:**
6.0.1

* **JSPM OR Webpack AND Version**
webpack 4.28.0

* **Browser:**
Chrome 71.x | Firefox 64.x

* **Language:**
TypeScript 3.2.2

**Current behavior:**
I have tried infinite scrolling with this p

[2019-01-03 19:32] bigopon commented on #137
@Sayan751 Thanks. This can probably be fixed by migrating this plugin to a single file output build. @EisenbergEffect Should we do it for this plugin?

[2019-01-03 19:39] EisenbergEffect commented on #137
@bigopon That seems like a good idea if you are up for it.

[2019-01-12 17:27] EisenbergEffect commented on #137
This will be addressed in the next release, coming soon. Fixes are merged.

[2019-01-14 11:59] bigopon commented on #138
I have tested this issue against my latest commit. I couldn't reproduce it manually by scrolling up and down, so I'm not sure if I fixed it, or reproduced it incorrectly. @Sayan751 Would be nice if you could have a check and confirm. Demo app at https://dist-owjyzhcvev.now.sh/#/issue-138

[2019-01-14 12:00] bigopon commented on #138
@Sayan751 Also can you help describe styling issue that you encountered?

[2019-01-14 13:17] bigopon commented on #125
What happens when 3 items don't fill up the whole row? Would it matter?

[2019-01-14 13:24] bigopon commented on #108
@EisenbergEffect @bdacoderchris @avrahamcool On a second thought, doing this would be against the idea of virtualization: only necessary part will be rendered.

@vegarringdal Are you saying there is a way to handle this case?

[2019-01-14 13:29] bigopon commented on #110
@JordyvA Adding `with.bind` on the same element with `virtual-repeat.for` will make the repeat unable to acquire the root element of each view. Simple nest `with.bind` in a `<template>` directly under repeated element will solve this issue.

[code]

Sandbox at: https://codesandbox.io/s/mm82n6o8pj

[2019-01-14 14:45] vegarringdal commented on #108
@bigopon

I did not do bind /attached/detached more then once it in my grid. (v-grid)
Doing that might trigger more js work then needed. Components usually have binables to handle data/value change.
But I think not unbinding/binding will use a lot more memory if its a large collection. Since there will be listeners on each array element.
Noticed this when using grid(rebuild) in mframejs, started t

[2019-01-15 07:03] Sayan751 commented on #138
@bigopon The problem with scrolling seems to be resolved in the the demo app. I will try to clone this repo and test the changes locally once.

The main problem that I had with styling is that for a striped table, sometimes the stripes are not applied at all, and all the rows will appear to have same style. That problem seems to be mostly resolved in your demo app. There is a minor glitch, where a

[2019-01-15 21:12] bigopon commented on #138
@Sayan751 I'm not sure what can be done to deal with striped table, I think it's easier to employ css class based on `$index` and document them as workaround.

[2019-01-15 21:14] bigopon commented on #134
I can't seem to be able to reproduce this with latest commit. Sample app at https://dist-qdzaosxjeb.now.sh/#/ @petronellius Can you help test this?

@EisenbergEffect Can be closed.

[2019-01-15 21:27] bigopon commented on #83
I think this issue has been fixed in latest commits. @EisenbergEffect I think it can be closed for now

@hmarcelodn Please try with latest version after new version has been released.

[2019-01-15 21:33] bigopon commented on #136
A workaround would be nesting the repeated element inside projected content. I'm not sure about the effort to support this. Note that with native ShadowDOM, it should be very simple to do.

[2019-01-15 22:34] bigopon commented on #90
I have now build proper app for demo in IE11 https://dist-rlveytsvzp.now.sh/#/

Note that app for issue 138 isn't displaying text because dynamic template for `<tr/>` as direct child isn't supported in IE11. Though the behavior of infinite scroll next still there

@EisenbergEffect This can be closed

[2019-01-15 22:35] bigopon commented on #90
Note you can also build the app (after #140 has been merged) by:

[code]

Built app will be at dist folder

[2019-01-16 00:38] #134 closed

[2019-01-16 00:38] #83 closed

[2019-01-16 00:39] #90 closed

[2019-01-16 00:41] #84 closed

[2019-01-16 00:41] #110 closed

[2019-01-16 00:41] #128 closed

[2019-01-17 13:47] tmueller commented on #136
Thanks for the answer, @bigopon.
Using ShadowDOM is no possible in this project, we have to support IE11 🙄
Unfortunately I don't quite understand what your suggested workaround would look like. Could you be so kind to provide an example?

[2019-01-17 14:14] bigopon commented on #136
@tmueller I was suggesting this:

Change from:
[code]
to:
[code]

What we want to do is to avoid having virtually repeated element direct child of a custom element

[2019-01-17 14:18] tmueller commented on #136
I see. The buffer elements are attached to the div, which is attached to the DOM afterwards. Should work, thanks :)

[2019-01-18 22:58] bigopon commented on #133
@alexisargyris Can you elaborate your scenario a bit? Do you want to scroll to bottom where the old item is supposed to be, or you want to keep the scroll at where it is?

[2019-01-18 23:33] bigopon commented on #102
@alexisargyris @amartens181 the PR at #142 should also fix this issue. Thank you for reporting this bug ❤️

Demo app at https://dist-lvubilwhjh.now.sh/#/issue-102
Optionally you can also check out and rebuild the sample app:

[code]

[2019-01-19 05:31] bigopon commented on #69
We should probably use `ResizeObserver`

CanIUse https://caniuse.com/#feat=resizeobserver
Article https://developers.google.com/web/updates/2016/10/resizeobserver
Polyfill https://github.com/que-etc/resize-observer-polyfill

@EisenbergEffect @AStoker @Alexander-Taran Should we auto detect `ResizeObserver` support and automatically observer & react to size change?

[2019-01-19 05:42] bigopon commented on #20
@jedd-ahyoung @AStoker

There is new API being discussed for this https://github.com/WICG/aom

[2019-01-19 05:45] bigopon commented on #16
Doc links related to `aria-setsize` seem to be outdated / inactive. I couldn't find much info about it. Maybe we should close this for now. @jedd-ahyoung Do you still have any reference to an article about what mentioned?

[2019-01-19 05:46] bigopon commented on #21
Similar to #69

We should probably use ResizeObserver

CanIUse https://caniuse.com/#feat=resizeobserver
Article https://developers.google.com/web/updates/2016/10/resizeobserver
Polyfill https://github.com/que-etc/resize-observer-polyfill

@EisenbergEffect @AStoker @Alexander-Taran Should we auto detect ResizeObserver support and automatically observer & react to size change?

[2019-01-19 06:18] EisenbergEffect commented on #69
Makes sense to me.

[2019-01-19 07:03] #102 closed

[2019-01-19 07:03] #129 closed

[2019-01-21 01:55] bigopon commented on #90
For anyone interested in this, the Readme now there's a link to newly built demo app at https://aurelia-ui-virtualization.now.sh

[2019-02-13 14:22] rowellx68 commented on #138
Similar  to the one suggested by @bigopon, we used the `$odd` to create classes.

[code]

[2019-02-13 20:53] bigopon commented on #138
@rowellx68 Cool, thanks for jumping in, may I know if you are using latest version? If so, is it behaving as intended as you seem to be using it on table repeating as well. Which I think I should get 1 more confirmation before asking @EisenbergEffect or @Sayan751 to close this issue.

[2019-02-14 09:25] Sayan751 commented on #138
@bigopon At this point it is bit difficult for me to confirm the changes as we moved little bit away from the continuous scrolling. Feel free to close this issue if others confirm.

[2019-02-19 09:09] rowellx68 opened #146 "Rendering issues when scrolled to the bottom and array mutates"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.4

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
9.11.1

* **NPM Version:**
6.8.0

* **JSPM OR Webpack AND Version**
webpack-cli 3.2.3

* **Browser:**
Chrome 72 | IE 11 | Edge 42

* **Language:**
TypeScript 3.1.2

**Current behavior:**
When the table is scrolled right to the bott

[2019-02-20 10:12] rowellx68 commented on #138
@bigopon We are using version `*1.0.0-beta.4`. We are however experiencing a different [issue ](https://github.com/aurelia/ui-virtualization/issues/146) now.

[2019-02-20 11:02] bigopon commented on #146
Thanks for filing this, I'll have a look into it soon

[2019-02-23 02:55] bigopon commented on #136
This is workaround-able, also probably won't be easily fixed so I'll close this to prioritize on other items. Please feel free to reopen if you find any argument against this.

[2019-02-23 02:55] #136 closed

[2019-02-23 05:28] #138 closed

[2019-02-23 05:28] #146 closed

[2019-03-06 10:12] mroeling commented on #125
When none of the rows are filled with as many items as possible (as an example, assume 4 items can be placed in a row, but only 3 are put in each row), it would matter IMHO.
Another issue might be changing the width of the screen, hence changing the number of max items per row.

When I look at the code, I see that only item.height is taken into account. Perhaps it could be changed to use both item

[2019-03-06 23:35] #103 closed

[2019-03-07 00:56] bigopon commented on #125
This is a nice feature, though would require a bit of work, as Aurelia implementation tries to stay too unobtrusive, making it hard to calculate necessary variables.

[2019-03-10 09:29] bigopon commented on #117
For normal unshifting item to an array/collection:
This behavior can sometimes come from how scroll position is kept, natively implemented by browser. If scroll position is topmost, inserting any element to the scroller will result in unchanged scroll position, which we quite did a right thing there.
For infinite scroll next:
To have the behavior of "pushing down" with infinite scroll next, there

[2019-03-12 15:09] bigopon commented on #104
Closing this issue, as it can be possibly done via binding `scrolltop` to container:
[code]

[2019-03-12 15:09] #104 closed

[2019-03-12 15:11] bigopon commented on #108
@bdacoderchris @avrahamcool  Thanks for filing this issue, but I think this is a won't fix, since it violates virtualization principles. Please feel free to reopen if you feel otherwise.

[2019-03-12 15:11] #108 closed

[2019-03-12 15:14] bigopon commented on #130
For `rowCreated`, I'm not sure if it will be useful, as most of the time, it's the same old row that got shifted around. For `scrollStart` and `scrollEnd`, I'm not sure how it's different with normal scroll event?

cc @EisenbergEffect @AStoker about `rowCreated`

[2019-03-13 02:32] EisenbergEffect commented on #130
It looks like the original request by @tbnovaes was about loading data, which I think is now handled. I'll close this for now. We can re-open if we discover that those hooks are not sufficient.

[2019-03-13 02:32] #130 closed

[2019-03-14 00:25] #97 closed

[2019-03-14 00:25] #133 closed

[2019-03-20 01:01] #21 closed

[2019-03-20 01:01] #69 closed

[2019-03-20 01:01] #114 closed

[2019-04-08 21:41] bigopon commented on #95
the PR at #154 now gives this behavior with an offset of 5. Ideally it should be just work: meaning the number of offset is adjusted based on view port height and item height to ensure smooth experience. Also I'm not sure how to provide configuration syntax for it to be used together with virtual repeat.

[2019-04-08 21:45] bigopon commented on #117
the pr at #154 solves this issue by mimicking the behavior of normal DOM mutations: visible items in scroller view port are kept visible if something happens before the visible items that either pushes them down or pulls them up.

Note that it cannot have this behavior when used with a value converter in repeat expression. It's a limitation, at least for now, that value converter will make mutatio

[2019-04-15 23:34] #95 closed

[2019-04-15 23:34] #117 closed

[2019-05-20 07:05] vermilion opened #156 "Repeater breaks on collection change - parent.removeChild(bottomBuffer) error"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.7

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
11.10.0

* **NPM Version:**
6.9.0

* **Browser:**
all

* **Language:**
TypeScript 3.4

**Current behavior:**
When data in underlined collection changes and new collection is empty repeater breaks with error
![image](https://user-im

[2019-05-20 07:25] bigopon commented on #156
@vermilion can you help paste some relevant html?

[2019-05-21 05:56] vermilion commented on #156
Solved. Fixed the **if.bind** clauses in my markup and the problem gone
[code]

[2019-05-21 05:56] #156 closed

[2019-10-20 08:59] Mobe91 opened #169 "Lifecycle methods not triggered"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.7

**Current behavior:**

The caveats section states:
[code]

Maybe I am misunderstanding this statement. Consider the following virtual repeat:
[code]
I would expect the lifecycle methods on the controller for `my-item-view` to be invoked whenever new items are added/removed from the virtual repeat when the user scrolls. But this

[2019-10-20 09:07] bigopon commented on #169
@Mobe91 yes you are right. Sorry for the confusion. Moving items ui (views) around will only rebind them without triggering lifecycle all the times.

I'll fix that doc. Does that behavior block you in any way?

[2019-10-20 14:24] Mobe91 commented on #169
Perfect, thank you. Well, I was able to solve my use case by reacting on item changes via `itemChanged` inside my custom element's controller so no, this does not block me at the moment.

[2019-10-28 13:25] michaelbull opened #170 "Programmatically scroll to item"
**I'm submitting a feature request**

* **Library Version:**
1.0.0-beta.7

**Expected/desired behavior:**

I currently have a list of elements that represents an email inbox, where each item is an email in a panel with virtualised scrolling. I'd like to be able to 'jump' the scrollbar to the currently selected item when the user opens an email via a notification (i.e. opens an item that is shown i

[2019-10-28 14:22] bigopon commented on #170
@michaelbull does this example work for you https://codesandbox.io/s/httpsgithubcomaureliaui-virtualizationissues170-x5s3c

[2019-10-28 15:06] michaelbull commented on #170
That example works, but it doesn't work in my application. Admittedly I am using a `div` for the container and `a` tags for the repeated elements, however when I use the same approach the top/bottom "spacer" elements that the plugin inserts don't have their height recalculated appropriately when changing the container's `scrollTop`. I don't know why your example causes it to properly refresh and r

[2019-10-28 15:29] michaelbull commented on #170
Ok, I have a workaround which involves manually dispatching the event to trigger the refresh:

[code]

This seems to work perfectly, thanks for your help @bigopon.

[2019-10-28 15:29] #170 closed

[2019-11-04 08:46] palktonderAtpowelno opened #171 "virtual-repeat doesn't work for containerless custom components"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.7

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.12.0

* **NPM Version:**
6.9.0

* **JSPM OR Webpack AND Version**
webpack 4.41.2

* **Browser:**
all

* **Language:**
ESNext at least (maybe all)

**Current behavior:**
I create a custom component for the items in a list. Because

[2019-11-04 09:17] bigopon commented on #171
@palktonderAtpowelno
As you noticed, it fails on a containerless element, it's intentional since a containerless custom element usually results in very difficult to calculate height. It's specifically stated in the readme for that reason.
For your case, you can simply use `as-element` instead:
![image](https://user-images.githubusercontent.com/9994529/68109988-0b0e7f00-ff40-11e9-9289-9020c7c18d5e.

[2019-11-04 10:49] palktonderAtpowelno commented on #171
Unfortunately, this doesn't fix any problem, rather it broke the standard repeat version. Whether you use the actual custom control directly or through as-element, the css still gets screwed up because of the intermediate element which I try to avoid using containerless. BTW, is it caveat no. 1 that explains this problem? Not being intimately familiar with the inner workings of Aurelia, it's a bit

[2019-11-04 10:55] bigopon commented on #171
@palktonderAtpowelno which is the intermediate element in the example? It should be all eliminated in my example, as you can see in `list-demo.html`

[2019-11-04 11:12] palktonderAtpowelno commented on #171
You are right, the reason the css came out wrong was because some css classes on the ul element hadn't been included (now added through as-element="contact-list". That said, the list won't scroll beyond the first 20 items. Is there a reason for this?

[2019-11-04 11:20] bigopon commented on #171
@palktonderAtpowelno I think probably you are using an older version of this plugin in the sandbox. Try upgrade it to beta-7 maybe? You can see it here https://codesandbox.io/s/aurelia-ui-virtualization-template-qkv0j

[2019-11-04 11:59] palktonderAtpowelno commented on #171
I used the as-element approach in my local solution, with the aurelia-ui-virtualization@1.0.0-beta.7 installed, and while the visual presentation was correct, it showed the same behavior of only presenting a subset of the elements. It seems to be the first "page" of elements (24 elements for the full screen, fewer when the browser size is reduced).

[2019-11-04 13:28] bigopon commented on #171
@palktonderAtpowelno can you try setup some height for the list container and see if its working? Else can you give a bit more instruction how i can replicate the issue?

[2019-11-04 19:34] palktonderAtpowelno commented on #171
I have to look more into it. I've just found it works in one part of the app and not another. Very strange

[2019-11-06 18:48] catsalive opened #172 "Table shows no rows if you scroll too fast"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.7

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.16.3

* **NPM Version:**
6.9.0

* **JSPM OR Webpack AND Version**
webpack 4.27.0

* **Browser:**
Chrome 78.0.3904.87

* **Language:**
TypeScript 3.6.3

**Current behavior:**
This no longer works again (if you scroll slightly too

[2019-11-06 21:12] bigopon commented on #172
@catsalive the issue you face is probably because the difference in amount of work browser has to do. For table/tr, its relatively higher than div, and thus could make some of our callback in the plugin fire too early, thus having wrong calculation. This will be even more difficult on Firefox as they may have flakier timing implementation. I would suggest doing a manual event dispatch on one eleme

[2019-11-06 23:41] catsalive commented on #172
@bigopon Thank you for responding so quickly. It is true, that very similar code, but with divs has no issues like this. I did not have to scroll very fast at all to get the issue to come up and I only have 242 rows. Can you point out the manual event dispatch you're referring to in the readme? Is that the infinite-scroll-next attribute?

[2020-04-20 03:54] SabineWren opened #178 "Table rows invisible when scrolling a table anchored part way down a document"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.7

**Please tell us about your environment:**
* **Operating System:**
Win 10

* **Node Version:**
10.16.2

* **NPM Version:**
6.9.0

* **Webpack Version**
webpack 4.41.6

* **Browser:**
Chrome 81.0.4044.113 (Official Build) (64-bit)

* **Language:**
TypeScript 3.6.4

**Use Case**
I put `virtual-repeat.for` on a tr element inside a

[2020-04-20 04:19] SabineWren commented on #178
Same table, but anchored in two different places. Nine rows are invisible in the lower one.

![virtual_row_bug](https://user-images.githubusercontent.com/18298014/79713643-42b97b00-8283-11ea-92d4-3c03b9632fcf.png)

[2020-04-20 09:30] bigopon commented on #178
@SabineWren thanks. At the moment, slotting with shadow DOM is not well supported, in case there's something that will affect the container distance to the first repeated item. For your case, forcefully changing it to 0 will probably cause issue in other usages where it's not at the top. I'll come up with some fix for this. Can you help with a repro?

[2020-04-21 07:22] SabineWren commented on #178
Yes, but I don't have time this week.

[2020-04-23 17:58] kellyethridge commented on #90
Is the demo app at [https://aurelia-ui-virtualization.now.sh/](https://aurelia-ui-virtualization.now.sh/) still supposed to work in IE11? I get an error.

[2020-04-23 22:17] bigopon commented on #90
@kellyethridge that's weird. thanks for noticing & letting us know. I'll fix it soon.

[2020-04-27 04:07] SabineWren commented on #178
Gist errored when I tried creating creating a fork, and I couldn't get CodeSandbox to work even with a basic custom element. So, you get a zip. I'm including a page and its custom elements.

It's configured for typescript and webpack. You'll need to configure the route in a skeleton app.
`{ route: ["bug-repro"], name: "bug repro", moduleId: PLATFORM.moduleName("virt-bug/page-bug-repro") },`
That a

[2020-05-03 06:33] bigopon commented on #172
@catsalive Sorry I forgot about this. What you can do is to dispatch one of the following 2 events:
[code]
on the scrolling element. if it's a `<div/>` containing a table, then you would do:
[code]

[2020-05-03 07:42] bigopon commented on #171
@palktonderAtpowelno please open new issue if you still experience any issues. Thanks for creating this

[2020-05-03 07:42] #171 closed

[2020-05-18 22:17] #169 closed

[2020-08-18 06:23] SafeerH opened #193 "virtual-repeat doesn't work on Edge (pre-chromium) browser with ResizeObserver polyfill"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-rc1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.16.3

* **NPM Version:**
6.14.5

* **Webpack Version**
webpack 4.44.0

* **Browser:**
Microsoft Edge 44.18362.449.0 (Microsoft EdgeHTML 18.18363) [Pre-chromium Edge]
(with ResizeObserver polyfill)

* **Language:**
TypeScript 3.9.7

[2020-08-19 04:26] #193 closed

[2020-09-06 10:47] bigopon commented on #178
There's probably a way to make it work seamlessly with shadowDOM mode `open`. `closed` mode is probably not, as it's a complete  blackbox, from the lib perspective. So I guess we can add a way for the repeat to find a nearest user-specified calculation, maybe something like this:
[code]
And the method can have following signature:
[code]
I'm not 100% sure about this yet, thoughts?

[2020-09-10 09:40] SabineWren commented on #178
Yeah, closed is probably a no-go. However, I don't see why there would be a difference to the library between the normal (light) dom and (open) shadow doms except for the root. Replace the hard-coded document.root with virtualizableNode.getRootNode(), and everything else should be exactly the same.

Soon after opening this issue I cloned this repo into our own codebase and fixed it. I couldn't rea

[2020-09-10 12:31] bigopon commented on #178
Aurelia in general, and the virtural repeat specifically, aim to provide a seamless dev experience. For the virtual repeat, this means (1) natural syntax, (2) no matter how you use it, it display things correctly, with little to no configuration. That's why there's some extra code for calculating so many variables.

The main required computation are:
- height of the container
- height of each view

[2020-09-23 00:12] bigopon commented on #178
To continue our discussion, let's spec out what scenarios should work. The implementation should support the following table:

| # | scroller | slotting | virtual repeat position |
| - | - | - | - |
| 1 | inside shadow DOM | single level | root level of content |
| 2 | inside shadow DOM | single level | nested inside other element of content |
| 3 | inside shadow DOM | pass through | root level of

[2020-10-17 12:40] SabineWren commented on #178
It seems you're trying to squeeze every bit of performance by calculating exactly how many rows need to be rendered. You've discovered lots of edge cases, since it's a hard problem. However, I suspect you're over-complicating things for minimal performance gain.

Let's take your example of a bunch of static content (header rows, etc.) followed by 3 virtualized lists of table rows in a single conta

[2020-10-17 13:02] bigopon commented on #178
@SabineWren If I understood your comment right, I should say it's less about performance, but more about correctness. This scenario:
[code]
Whenever there's a scroll event in scroll container, it's incorrect to just show based on current scroll top of the scroll container.
Assume that each item height is 50px:

If the scroll top is 200px:
- expected: show 1st item to 20th items.
- actual (if does

[2020-10-17 13:16] SabineWren commented on #178
Then if you have a single virtual-repeater, would the exact start be (scrolltop) - (height of previous elements), and the total virtual height be (height of previous elements) + (rowHeight * numRows) + (height of subsequent elements)? I'd have to look at the code I used for scroll position to see if it's similar. The original bug I reported was somehow the anchor position of the container's host e

[2020-10-17 13:19] bigopon commented on #178
@SabineWren yes it is. Except when your repeat is not on the same level with previous elements:
[code]
This scenario is just an exaggeration of table:
[code]

[2020-10-30 12:13] FreddyMcRay opened #198 "Virtual repeater goes into infinite loop"
**I'm submitting a bug report**

* **Library Version:**
I used demo-app from your repo

* **Operating System:**
Windows 10

* **Node Version:**
10.19.0

* **NPM Version:**
6.13.4

* **JSPM OR Webpack AND Version**
webpack 4.28.4

* **Browser:**
Chrome 86

* **Language:**
TypeScript 2.9.2

**Current behavior:**
The trick is to combine virtualized repeater and sort value converter.
If I remove eleme

[2020-10-30 12:41] bigopon commented on #198
Following the step described, I couldn't reproduce the bug. Can you help with some reproducible demo? You can base on this link https://codesandbox.io/s/m781l8oyqj?file=/index.html

[2020-10-30 13:19] FreddyMcRay commented on #198
I can't run demo app in the sandbox. It tells me that aurelia-ui-virtualization module could not be found.
https://codesandbox.io/s/bitter-voice-sovoh

So you ran build command, started dist/index.html, removed all elements and it didn't help to repro?
I can record a video if you wish.

[2020-11-04 06:39] FreddyMcRay commented on #198
Hi All! Any updates?

[2020-11-05 01:41] bigopon commented on #198
@FreddyMcRay are you able to work around this issue for now? I think it can be done via:
[code]

I'm not sure why it didn't work for you, I just updated that sandbox, can you try again?

[2020-11-10 10:00] FreddyMcRay commented on #198
Sorry for delayed answer
To solve this I added additional check to not sort empty array

![image](https://user-images.githubusercontent.com/26858004/98656934-524cfe00-2352-11eb-8873-527760b47644.png)

[2020-12-08 16:32] sheetalvarshney38 commented on #172
@bigopon I am still facing this issue, quick scroll works fine on chrome but not on other browsers. I tried manual event dispatch as you suggested but it won't work either. Can you help!!

[2020-12-11 05:59] bigopon commented on #172
it's unlikely that this is actionable. Even for native scrolling, browsers struggle to keep up if you scroll too fast. You can try to open a long long page, and then scroll really fast up and down, browser can't keep up with that basic functionality sometimes.

[2021-01-26 16:28] blarsern commented on #198
I have similar behavior with sorting and repeater.

Just upgraded to the latest version from  1.0.0-beta.3.3.2 which worked just fine.

This causes the browser to hang completely, dead, needs to be killed:
virtual-repeat.for="r of visibleResult | sort:sort:sortDir"

This loads fine:
virtual-repeat.for="r of visibleResult"

So any tips ?

[2021-02-22 09:56] milkshakeuk commented on #90
@bigopon did you ever get this fixed?

[2021-02-22 16:47] bigopon commented on #90
@milkshakeuk I think it's fixed awhile ago. It's working for me without any issues on IE11:
![image](https://user-images.githubusercontent.com/9994529/108740454-cc179900-7589-11eb-896b-374f69e4c20c.png)

Are you getting any errors?

[2021-06-09 05:09] #198 closed

[2021-12-07 14:23] plarner30 commented on #24
Possibly another **option 4**: Provide a customizable call-back function for getting height of row fast, with parameter being item bound to the row. At least where I am using plugin the row height is going to be one of 1-4 sizes consistently based on the data i'm binding to the row. This would obviously not be automatic but at least would get it working

[2022-06-03 16:37] Alexander-Taran commented on #55
@bigopon not considered for au2?

[2022-06-03 22:55] bigopon commented on #55
it can be done for au2, just haven't started.